<div>
    <div class="container">
        <div class="header mt-5">
            <h4>Taxation Checklist</h4>
            <hr>
            <div class="row">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>House Tax</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Taxation Checklist - Download and View</td>
                            <td>
                                <a href="assets/Pdf/Taxation checklist.pdf" class="text-danger text-decoration-none"
                                    target="_blank"><i class="fa fa-file-pdf-o"></i>View / Download </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Advertisement Tax</td>
                            <td>
                                <a href="assets/Pdf/Advertisement Tax.pdf" class="text-danger text-decoration-none"
                                    target="_blank"><i class="fa fa-file-pdf-o"></i>View / Download </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Sanitation Tax</td>
                            <td>
                                <a href="assets/Pdf/Sanitation Tax.pdf" class="text-danger text-decoration-none"
                                    target="_blank"><i class="fa fa-file-pdf-o"></i>View / Download </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>