<div class="pb-5">
    <div class="container">
        <h4 class="--font-size-20 fw-bold --text-dark-gray mt-5">Restoration for Municipal Market at Char Rasta, Opp. Police
            Station, at Nani Daman</h4>
        <hr />
        <div class="content row">
            <div class="col-12">
                <p>
                    This market situated at center of the City is a historic building constructed at the time of
                    Portuguese era around 1879. The said market is very famous market since from its build till now
                    and is the Heart of Daman Municipal Council. It is a commercial market for tourist and local
                    citizens. Imported products are available in this market which attracts tourists. At present this
                    building is load bearing type, very old structure. Till now only minor repairing, painting was done.
                    Many requestshave been received by the shop holders to modify / rectify the look of this
                    market. The council of this office has requested Administration to develop and beautify the same
                    keeping its heritage value. Accordingly the Administration decided to renovate the said
                    market for which conceptual Plan & Design are finalized. The Renovation will be done in such a
                    manner that the historic value of this market will remain same by providing old type roof,
                    flooring, and attractive inside and outside colours. The existing shop will not be disturbed, the
                    new Structural roof with manglore roof tiles will be provided, and the external wall will be
                    constructed with Arch and with wide columns so as to look historic. The work of renovation of said
                    Market is awarded to M/s. Mohit& Associates, Mumbai. The revised project cost is Rs.
                    2.74crores. The work was completed and inaugurated on 19.12.2019 by the hand of Hon’ble
                    Administrator of DD & DNH.
                </p>
            </div>

            <div class="col-lg-6 col-md-6 col-xs-12 col-12">
                <img src="assets/DMC_AboutUs.png" class="img-fluid img-thumbnail"
                    alt="Restoration for Municipal Market" />
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-12">
                <img src="assets/municipal-market-01.jpg" class="img-fluid img-thumbnail"
                    alt="Restoration for Municipal Market" />
            </div>
        </div>
    </div>
</div>