<div class="pb-5">
    <div class="container">
        <h4 class="--font-size-20 fw-bold --text-dark-gray mt-5">ATAL MISSION FOR REJUVENATION AND URBAN TRANSFORMATION
            (AMRUT)</h4>
        <hr />
        <div class="content row">
            <div class="col-12">
                <p>
                    Providing basic services (e.g. water supply, sewerage, urban transport) to households and build
                    amenities in cities which will improve the quality of life for all, especially the poor and
                    the disadvantaged is a national priority. An estimate of the funds required over a 20 year period,
                    at 2009-10 prices, was made by the High Powered Expert Committee (HPEC) during 2011. The
                    Committee estimated that Rs. 39.2 lakh crore was required for creation of urban infrastructure,
                    including Rs. 17.3 lakh crore for urban roads and Rs. 8 lakh crore for services, such as water
                    supply, sewerage, solid waste management and storm water drains. Moreover, the requirement for
                    Operation and Maintenance (O&M) was separately estimated to be Rs. 19.9 lakh crore.
                </p>
            </div>

            <div class="col-12">
                <table class="table table-responsive table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Sr.No.</th>
                            <th>Type</th>
                            <th>Project Undertaken</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1.</td>
                            <td>Green Space</td>
                            <td>Nani Daman Jetty Garden</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>Sewage Network</td>
                            <td>NaniDaman & Moti Daman STP</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>GIS AMRUT Master Plan</td>
                            <td>Tender Under Process</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>