<div class="pb-5">
    <div class="container">
        <div class="header">
            <h4 class="--font-size-20 fw-bold --text-dark-gray mt-5">Birth and Death Certificate Checklist / Form</h4>
            <hr />
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-xs-12 mb-3">
                    <div class="card">
                        <div class="card-header text-center">
                            <h5>Birth and Death Certificate Form</h5>
                        </div>
                        <div class="card-body text-center">
                            <img src="assets/icons/birth-death.png" class="img-fluid" width="100" alt="birth image" />
                            <div>
                                <a href="assets/Pdf/Birth_Death_form.pdf" class="btn btn-primary btn-block mt-3"
                                    target="_blank">View and Download</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-xs-12 mb-3">
                    <div class="card">
                        <div class="card-header text-center">
                            <h5>Birth and Death Cert. - Checklist</h5>
                        </div>
                        <div class="card-body text-center">
                            <img src="assets/icons/birth-death.png" class="img-fluid" width="100" alt="birth image" />
                            <div>
                                <a href="assets/Pdf/Birth and Death Checklist.pdf" class="btn btn-primary btn-block mt-3"
                                    target="_blank">View and Download</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>