<div class="pb-5">
    <div class="container">
        <h4 class="--font-size-20 fw-bold --text-dark-gray mt-5">MPLAD</h4>
        <hr />
        <div class="content row">
            <div class="col-12">
                <p>
                    1.Purchased Vaccum and Setting Machine for cleaning of Strom water from Gutter <br />
                    2.Purchased Ambulance for Animal <br />
                    3.Purchased Sweeping Machine
                </p>
            </div>
            <div class="col-12">
                <!-- <h4 class="--font-size-20 fw-bold --text-dark-gray">MPLAD</h4> -->
                <hr />
                <table class="table table-responsive table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Sr.No.</th>
                            <th>Name</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1.</td>
                            <td>MPLAD</td>
                            <td>Vaccum and Setting Machine for cleaning of Strom water from Gutter</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>MPLAD</td>
                            <td>Ambulance for Animal</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>MPLAD</td>
                            <td>Sweeping Machine</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>