<div class="pb-5">
    <div class="container">
        <h4 class="--font-size-20 fw-bold --text-dark-gray mt-5">Swachh Bharat Mission</h4>
        <hr />
        <div class="content row">
            <div class="col-12">
                <p>
                    To accelerate the efforts to achieve universal sanitation coverage and to put focus on sanitation,
                    the Prime Minister of India launched the Swachh Bharat Mission on 2nd October, 2014. The
                    Mission Coordinator for SBM is Secretary, Ministry of Drinking Water and Sanitation (MDWS) with two
                    Sub-Missions, the Swachh Bharat Mission (Gramin) and the Swachh Bharat Mission (Urban).
                    Together, they aim to achieve Swachh Bharat by 2019, as a fitting tribute to Mahatma Gandhi on his
                    150th Birth Anniversary.
                </p>
            </div>
        </div>
    </div>
</div>