<div class="pb-5 mt-4">
    <div class="container">
        <div class="header mt-5">
            <h4>Career / Vacancy / Job Related</h4>
            <hr>
            <table class="table table-responsive table-hover">
                <thead>
                    <tr>
                        <th>Advertisement</th>
                        <th>View Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Advertisement for the Post of Assistant Professor In English and Political Science in Govt. College Daman.</td>
                        <td><a href="https://daman.nic.in/jobs/2019/09-07-02-2019.pdf" class="text-danger text-decoration-none" target="_blank"><i
                                class="fa fa-file-pdf-o"></i> View / Download </a></td>
                    </tr>
                    <tr>
                        <td>Office of the Superintendent of Police : Adversitement for the post of Cyber Forensic Consultant,Daman</td>
                        <td>
                            <a href="https://daman.nic.in/jobs/2019/115-31-01-2019.pdf" class="text-danger text-decoration-none"
                                target="_blank"><i class="fa fa-file-pdf-o"></i> View / Download </a>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            Advertisement for Walk-In-Interview for the post of Technical Supervisor in Daman Municipal Council
                            <br />
                            <a class="text-decoration-none" href="https://daman.nic.in/jobs/2018/398-29-10-2018.pdf"
                                target="_blank">Corrigendum I</a>
                            <br />
                            <a class="text-decoration-none" href="https://daman.nic.in/jobs/2018/1826-14-11-2018.pdf"
                                target="_blank">Corrigendum II</a>
                        </td>
                        <td>
                            <a href="https://daman.nic.in/jobs/2018/386-18-10-2018.pdf" class="text-danger text-decoration-none"
                                target="_blank"><i class="fa fa-file-pdf-o"></i> View / Download </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>