<div class="pb-5">
    <div class="container">
        <h4 class="--font-size-20 fw-bold --text-dark-gray mt-5">Construction of Multi Level Parking Building, Near Municipal
            Market at Nani Daman.</h4>
        <hr />
        <div class="content row">
            <div class="col-12">
                <p>
                    Daman is a tourist place. Most of the tourist from vapi, valsad, silvassa, surat, Mumbai and nearby
                    area visits daman regularly. Now a days due to growth of infrasture and mordenisation of
                    civil culture and also due to development of the marketing facility of daman the numbers of tourist
                    increases day by day. Most of them are using their own vehicles to travel. The Daman
                    Municipal area is having very limited space for parking. There is a huge demand of parking required
                    near Municipal market at char rasta junction as it’s the hub and center of Nani Daman
                    municipal area. The common complaint from the local citizens and the tourists that Daman is very
                    beautiful place to visit but they don’t know where to park their vehicle, as there is very
                    less place available for parking. The users of this area park their vehicles on sides of footpath or
                    road, which creates hurdles to the traffic and creates traffic jam mostly on Saturday and
                    Sunday. Some times many cars are found parked in worst manner for hours n hours which results in
                    clashes between local citizens and tourists,and creates bad impression of Daman for the
                    tourist. This Multi Level parking Building will be very useful to the tourists as can they can
                    safely park their vehicle and visit and enjoy the places and without disturbing the road
                    traffic. They can park their vehicle till they own convenience. This will facilitate the clear
                    Traffic movement on this prime area. It is proposed to construct multi level parking of 88
                    cars. There will be 7 parking slots from where parking can be done. There is 12 parking on each
                    floor. There will be one under ground parking. It’s Designed with mechanically operated puzzle
                    parking. So that less space can be used and more cars can be parked. It’s the first automated
                    mechanically operated puzzle parking in south Gujarat area. Road to be beautified by providing
                    M25 R.C.C. base with nominal reinforcement and top covered with paver granite coble stone. With 3.00
                    mt height decorative poles at regular interval. This project is awarded to M/s.
                    Bahusmarana Construction Co., Mehsana. The Project cost is Rs. 13.78Crore. The puzzle parking
                    building work was completed and inaugurated on 19.12.2019 by the hand of Hon’ble Administrator
                    of DD & DNH.
                </p>
            </div>

            <div class="col-lg-6 col-md-6 col-xs-12 col-12">
                <img src="assets/multilevel-parking.png" class="img-fluid img-thumbnail" alt="parking" />
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-12">
                <img src="assets/multilevel-parking-inaugration.png" class="img-fluid img-thumbnail" alt="parking" />
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-12">
                <img src="assets/multilevel-parking-1.jpg" class="img-fluid img-thumbnail" alt="parking" />
            </div>
        </div>
    </div>
</div>