<div class="pb-5">
    <div class="container">
        <h4 class="--font-size-20 fw-bold --text-dark-gray mt-5">Construction of Vegetable Market, Fish Market & Shopping
            Complex at Moti Daman, and Fish Market and Shopping Complex at Nani Daman</h4>
        <hr />
        <div class="content row">
            <div class="col-12 p-4">
                <p class="justify">
                    The existing shopping complex and fish market building was constructed 40 years ago. The the fish
                    market building was constructed in old style facilitate with A.C. cement sheet shed,
                    partition wall, sitting arrangement and IPS flooring. At present the building is not being used for
                    selling purpose as the structure is not in good condition. The shopping complex building
                    is also of very old style many parts of buldingare not in good condition, whichneeds restoration.
                    The building contains shops on both front and back side with ground + 1st floor. The
                    building structure is of M25 grade R.C.C. frmaed structure. There is provision of under ground
                    parking facility. Ground floor with front shopping and back side of fish market, storage and
                    other facility. First floor containing front shopping, back side with fish market. The second floor
                    with the provision of entire shopping market. The building is facilitating with fire
                    fighting facility, provision of service and passanger lift. Amenities : (1)The Moti Daman project is
                    facilitated with fish counters ( Total 105) 21 nos of 3’-0”, 60 nos of 4’-0”, 24 nos of
                    6’-0” long, total 58 nos of shops will be provided. Total 67 nosof vegetable and fruit counter will
                    be provided. (2) The Nani Daman project is facilitated with fish counters 86 nos of 3’-0”,
                    39 nos of 4’-0”, 23 nos of 6’-0” long, total 44 nos of shops will be provided. This project is
                    awarded toto M/s. RamdevConstrucion, Bhuj-Kutch.The project cost is Rs. 18.11 Crore.
                </p>
            </div>
            <p class="--font-size-25 fw-bold justify">Nani Daman Fish Market</p>
            <div class="col-lg-6 col-md-6 col-xs-12 col-12">
                <img src="assets/nani-daman-fishmarket1.png" alt="sport"
                    class="img-fluid img-thumbnail float-end mx-3 my-3" />
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-12">
                <img src="assets/nani-daman-fish-market2.jpg" alt="fish market" width="700"
                    class="img-fluid img-thumbnail float-end mx-3 my-3 mb-5" />
            </div>
            <hr />
            <p class="--font-size-25 fw-bold justify mb-3">Moti Daman Fish Market</p>
            <div class="col-lg-6 col-md-6 col-xs-12 col-12">
                <img src="assets/moti-daman-fm1.jpg" alt="moti daman iage" class="img-fluid img-thumbnail float-end mx-3 my-3" />
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-12">
                <img src="assets/moti-daman-fm2.jpg" alt="moti daman iage" class="img-fluid img-thumbnail float-end mx-3 my-3" />
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-12">
                <img src="assets/moti-daman-fm3.jpg" alt="moti daman iage" class="img-fluid img-thumbnail float-end mx-3 my-3" />
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-12">
                <img src="assets/moti-daman-fm4.jpg" alt="sport"
                    class="img-fluid img-thumbnail float-end mx-3 my-3 mb-5" />
            </div>
        </div>
    </div>
</div>