<div >
    <div class="container">
        <header class="mt-5">
            <h4>RTI (Right To Information)</h4>
            <hr>
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6 col-xs-12 col-12 mb-3">
                    <div class="card">
                        <div class="card-header text-center">
                            <h5>Application Form</h5>
                        </div>
                        <div class="card-body text-center">
                            <img src="/assets/icons/application.png" class="img-fluid" width="100" alt="icon" />
                            <a href="assets/Pdf/Application Form.pdf" class="btn btn-primary btn-block mt-3" target="_blank">Click To View /
                                Download</a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 col-xs-12 col-12 mb-4">
                    <div class="card">
                        <div class="card-header text-center">
                            <h5>User Guide</h5>
                        </div>
                        <div class="card-body text-center">
                            <img src="/assets/icons/application.png" class="img-fluid" width="100" alt="icon" />
                            <a href="assets/Pdf/userguide.pdf" class="btn btn-primary btn-block mt-3" target="_blank">Click To View / Download</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-xs-12 col-12 mb-4">
                    <div class="card">
                        <div class=" text-center card-header">
                            <h5>Gazette Notification</h5>
                        </div>
                        <div class="card-body text-center">
                            <img src="/assets/icons/application.png" class="img-fluid" width="100" alt="icon" />
                            <a href="assets/Pdf/Gazette Notification.pdf" class="btn btn-primary btn-block mt-3" target="_blank">Click To View /
                                Download</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-xs-12 col-12 mb-4">
                    <div class="card">
                        <div class=" text-center card-header">
                            <h5>RTI Act 2005</h5>
                        </div>
                        <div class="card-body text-center">
                            <img src="/assets/icons/application.png" class="img-fluid" width="100" alt="icon" />
                        <a href="assets/Pdf/RTI act 2005.pdf" class="btn btn-primary btn-block mt-3" target="_blank">Click To View /
                            Download</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-xs-12 col-12 mb-4">
                    <div class="card">
                        <div class=" text-center card-header">
                            <h5>RTI Book Daman</h5>
                        </div>
                        <div class="card-body text-center">
                            <img src="/assets/icons/application.png" class="img-fluid" width="100" alt="icon" />
                            <a href="assets/Pdf/RTI BOOK Daman.pdf" class="btn btn-primary btn-block mt-3" target="_blank">Click To View /
                                Download</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
</div>

