<div>
    <div class="container">
        <div class="header mb-5">
            <h4 class="mt-5">Privacy Policy</h4>
            <hr>
            <p>As a general rule, this website does not collect Personal Information about you when you visit the site.
                You can
                generally visit the site without revealing Personal Information, unless you choose to provide such
                information.</p>
            <br>

            <h4>Site / App Visit data</h4>
            <hr>
            <p>This website records your visit and logs the following information for statistical purposes -your
                server’s address; the
                name of the top-level domain from which you access the Internet (for example, .com, .in, etc.); the type
                of browser you
                use; the date and time you access the site; the pages you have accessed and the documents downloaded and
                the previous
                Internet address from which you linked directly to the site.
                We will not identify users or their browsing activities, except when a law enforcement agency may
                exercise a warrant to
                inspect the service provider’s logs.</p>
            <br>

            <h4>Cookies</h4>
            <hr>
            <p>A cookie is a piece of software code that an internet web site sends to your browser when you access
                information at that
                site. This site uses Session cookies, Persistent cookies.</p>
            <br>

            <h4>Session Cookies</h4>
            <hr>
            <p>These are temporary cookie files which are erased when you close your browser. When you restart your
                browser and go back
                to the site that created that cookie, the website will treat you as a new visitor.</p>
            <br>

            <h4>Persistent cookies</h4>
            <hr>
            <p>These cookies stay on your browser until you delete them manually or until your browser deletes them
                based on the
                duration period set within the cookie. These cookies will recognize you as a return visitor.</p>
            <br>

            <h4>Email Management</h4>
            <hr>
            <p>Your email address will only be recorded if you choose to send a message. It will only be used for the
                purpose for which
                you have provided it and will not be added to a mailing list. Your email address will not be used for
                any other purpose,
                and will not be disclosed, without your consent.</p>
            <br>

            <h4>Mobile Management</h4>
            <hr>
            <p>Your mobile no will only be recorded if you choose to send a OTP and transaction message. It will only be
                used for the
                purpose for which you have provided it and will not be added to advertisement list. Your mobile no will
                not be used for
                any other purpose, and will not be disclosed, without your consent.</p>
            <br>

            <h4>Location Management</h4>
            <hr>
            <p>Your location will not be used for any other purpose, and will not be disclosed, without your consent.
            </p>
            <br>

            <h4>Collection of Personal Information</h4>
            <hr>
            <p>We value your trust in providing us your Personal Information, thus we are striving to use commercially
                acceptable means
                of protecting it. But remember that no method of transmission over the internet, or method of electronic
                storage is 100%
                secure and reliable, and we cannot guarantee its absolute security.</p>
            <br>

            <h4>Security</h4>
            <hr>
            <p>If you are asked for any other Personal Information you will be informed how it will be used if you
                choose to give it.
                If at any time you believe the principles referred to in this privacy statement have not been followed,
                or have any
                other comments on these principles, please notify the webmaster through the contact us page.</p>
            <br>

            <h4>Links to Other Sites
            </h4>
            <hr>
            <p>This Service may contain links to other sites. If you click on a third-party link, you will be directed
                to that site.
                Note that these external sites are not operated by us. Therefore, we strongly advise you to review the
                Privacy Policy of
                these websites. We have no control over and assume no responsibility for the content, privacy policies,
                or practices of
                any third-party sites or services.
            </p>
            <br>

            <h4>Children’s Privacy</h4>
            <hr>
            <p>These Services do not address anyone under the age of 13. We do not knowingly collect personally
                identifiable
                information from children under 13. In the case we discover that a child under 13 has provided us with
                personal
                information, we immediately delete this from our servers. If you are a parent or guardian and you are
                aware that your
                child has provided us with personal information, please contact us so that we will be able to do
                necessary actions.</p>
            <br>

            <h4>Changes to This Privacy Policy</h4>
            <hr>
            <p>We may update our Privacy Policy from time to time. Thus, you are advised to review this page
                periodically for any
                changes. We will notify you of any changes by posting the new Privacy Policy on this page. These changes
                are effective
                immediately after they are posted on this page.</p>
            <br>

            <p class="alert alert-info">Note: The use of the term "Personal Information" in this privacy statement refers to any information from which your
            identity is apparent or can be reasonably ascertained.</p>
            <br>
            <br>
        </div>
    </div>
</div>