<div
  class="back resmenu carousel-slide"
  [ngStyle]="{
    'background-image':
      router.url === '/home'
        ? slides[currentSlide].background
        : 'url(/assets/table.png)',
    height: router.url === '/home' ? '800px' : '500px'
  }"
>
  <div class="container">
    <div class="row pt-5">
      <!-- <div class="col-12 col-md-12 col-xs-12"> -->
      <div class="navbar">
        <div class="col-lg-4 col-md-12 col-xs-12 col-12 px-3 m-0">
          <!-- <div id="google_translate_element"></div> -->
          <p class="text-white m-0 p-0">
            <img src="../assets/earth.png" alt="icon" />EN&nbsp;<img
              src="../assets/down.png"
              alt="icon"
            />&nbsp;<img src="../assets/staright-line.png" alt="icon" />&nbsp;
            Skip To Main Content
            <img class="line" src="../assets/staright-line.png" alt="icon" />
          </p>
        </div>
        <!-- <div class="col-lg-1 d-flex" id="google_translate_element"></div> -->
        <div
          class="col-lg-8 col-md-12 col-xs-12 text-white d-flex justify-content-end px-3 gap-2 p-0"
        >
          <button (click)="Zoom(3)" id="zoom">+A</button>
          <button (click)="Zoom(2)" id="zoom">A</button>
          <button (click)="Zoom(1)" id="zoom">A-</button>
          <div>
            <button id="button1" class="bg-white text-black">A</button>
            <button id="button1" class="bg-dark">A</button>
          </div>
          <!-- <button id="button1" class="bg-white text-black" (click)="toggleLightMode()">A</button>
                    <button id="button1" class="bg-dark " (click)="toggleDarkMode()">A</button> -->
        </div>
      </div>
    </div>

    <div class="row" style="position: relative">
      <div
        class="col-lg-3 col-md-12 col-xs-12 d-flex"
        routerLink="home"
        style="background-color: #e6e6e6"
      >
        <img src="./assets/dmc-logo-1.png" alt="Logo" class="img-fluid" />
        <span class="ml-2 dmc-text py-4" style="cursor: pointer"
          >DAMAN MUNICIPAL COUNCIL</span
        >
      </div>
      <div class="col-lg-9 col-md-12 col-xs-12 bg-light">
        <ul class="nav-links mt-4">
          <input type="checkbox" id="checkbox_toggle" />
          <label for="checkbox_toggle" class="hamburger">&#9776;</label>

          <div class="menu">
            <li class="services" routerLink="/council">
              <div class="d-flex">
                <h3 class="header-text">Council</h3>
                &nbsp;
                <img class="header-arrow" src="assets/east.png" />
              </div>
              <p class="header-text-p">know council</p>
              <!-- <mat-icon class="pt-1 arrow1">keyboard_arrow_down</mat-icon> -->
            </li>

            <li class="services">
              <div class="d-flex">
                <h3 class="header-text">Services</h3>
                &nbsp;
                <img class="header-arrow" src="assets/east.png" alt="image" />
              </div>
              <p class="header-text-p">Service for people</p>
              <!-- <mat-icon class="pt-1">keyboard_arrow_down</mat-icon> -->

              <ul class="dropdown">
                <a
                  routerLinkActive="active"
                  routerLink="/service/overview"
                  title="View Overview"
                >
                  <li class="text-uppercase">Overview</li>
                </a>
                <img src="assets/Vector 740.png" alt="Vector-line" />
                <a
                  routerLinkActive="active"
                  routerLink="/service/birth-death"
                  title="View Birth & Death"
                >
                  <li class="text-uppercase">Birth & Death</li>
                </a>
                <img src="assets/Vector 740.png" alt="Vector-line" />
                <a
                  routerLinkActive="active"
                  routerLink="/service/nsap"
                  title="View N S A P"
                >
                  <li class="text-uppercase">N S A P</li>
                </a>
                <img src="assets/Vector 740.png" alt="Vector-line" />
                <a
                  routerLinkActive="active"
                  routerLink="/service/licence"
                  title="View Licences"
                >
                  <li class="text-uppercase">Licences</li>
                </a>
                <img src="assets/Vector 740.png" alt="Vector-line" />
                <a
                  routerLinkActive="active"
                  routerLink="/service/construction"
                  title="View Construction / Occupancies"
                >
                  <li class="text-uppercase">Construction / Occupancies</li>
                </a>
              </ul>
            </li>

            <li class="services">
              <div class="d-flex">
                <h3 class="header-text">Citizen</h3>
                &nbsp;
                <img class="header-arrow" src="assets/east.png" />
              </div>
              <p class="header-text-p">Citizen welfare</p>
              <!-- <mat-icon class="pt-1">keyboard_arrow_down</mat-icon> -->

              <ul class="dropdown">
                <a
                  routerLinkActive="active"
                  routerLink="/citizen/charters"
                  title="View Charters"
                >
                  <li class="text-uppercase">Charters</li>
                </a>
                <img src="assets/Vector 740.png" />
                <a
                  routerLinkActive="active"
                  routerLink="/citizen/tax"
                  title="View Tax"
                >
                  <li class="text-uppercase">Tax</li>
                </a>
              </ul>
            </li>

            <li class="services">
              <div class="d-flex">
                <h3 class="header-text">Information</h3>
                &nbsp;
                <img class="header-arrow" src="assets/east.png" />
              </div>
              <p class="header-text-p">Important Information</p>
              <!-- <mat-icon class="pt-1">keyboard_arrow_down</mat-icon> -->

              <ul class="dropdown">
                <a
                  routerLinkActive="active"
                  routerLink="/information/tender"
                  title="View Tender"
                >
                  <li class="text-uppercase">Tender</li>
                </a>
                <img src="assets/Vector 740.png" alt="vector line" />
                <a
                  routerLinkActive="active"
                  routerLink="/information/vacancy"
                  title="View Vacancy"
                >
                  <li class="text-uppercase">Vacancy</li>
                </a>
                <img src="assets/Vector 740.png" alt="vector line" />
                <a
                  routerLinkActive="active"
                  routerLink="/information/schemes"
                  title="View Schemes"
                >
                  <li class="text-uppercase">Schemes</li>
                </a>
                <img src="assets/Vector 740.png" alt="vector line" />
                <a
                  routerLinkActive="active"
                  routerLink="/information/RTI"
                  title="View RTI"
                >
                  <li class="text-uppercase">RTI</li>
                </a>
              </ul>
            </li>

            <li class="services">
              <a href="https://sampark.dmcdaman.in/#/question" target="_blank">
                <div class="d-flex">
                  <h3 class="header-text">faq</h3>
                  &nbsp;
                  <img class="header-arrow" src="assets/east.png" />
                </div>
                <p class="header-text-p">questions</p>
              </a>
              <!-- <mat-icon class="pt-1">keyboard_arrow_down</mat-icon> -->
            </li>
          </div>
        </ul>
      </div>
    </div>

    <div class="row align-items-center bg-light" style="position: relative">
      <div class="col-xl-3 col-md-12 col-xs-12 d-flex align-items-center">
        <p class="dmc-text mx-auto p-0 m-0">QUICK LINK :</p>
      </div>
      <div
        class="col-xl-9 col-md-12 col-xs-12 d-flex justify-content-between align-items-center"
        style="background-color: #e6e6e6"
      >
        <ul class="nav" style="margin-left: 25px">
          <li class="nav-item">
            <a class="nav-link text-dark" routerLink="/about-us">ABOUT US</a>
          </li>
          <!-- <li class="nav-item"><a class="nav-link text-dark"
                            href="https://sampark.dmcdaman.in/#/auction/login" target="_blank">AUCTION</a>
                    </li> -->
          <li class="nav-item">
            <a class="nav-link text-dark" routerLink="/information/tender"
              >TENDERS</a
            >
          </li>
          <div>
            <li class="nav-item">
              <a
                class="nav-link text-dark"
                href="https://sampark.dmcdaman.in/#/newcomplaint"
                target="_blank"
                >COMPLAIN
              </a>
            </li>

            <!-- <img class="float-" src="assets/Ellipse 8.png" alt="">
                        LOGIN OR SIGNUP -->
          </div>
          <a href="https://sampark.dmcdaman.in/#/home" target="_blank">
            <li class="nav-item">
              <a
                class="nav-link text-dark"
                href="https://sampark.dmcdaman.in/#/home"
                target="_blank"
                >ONLINE SERVICES</a
              >
            </li>
          </a>
          <li class="nav-item">
            <a
              class="nav-link text-dark"
              href="https://sampark.dmcdaman.in/#/propertytax/paymentlist"
              target="_blank"
              >PAY PROPERTY TAX</a
            >
          </li>
        </ul>
      </div>
    </div>

    @if(this.router.url === "/home"){
    <ng-container>
      <div class="row">
        <div class="col-12 col-md-12 col-12">
          <div class="container">
            <div class="text-block" style="font-size: 10vw">
              <h1 class="text-start">
                Your Gateway to Civic <br />
                Services & City Information
              </h1>
              <p class="text-start">
                Access public services, stay informed, and explore our beautiful
                city.
                <!-- <span><button (click)="prevSlide()"><img src=".././assets/left.png" alt=""></button></span>
                                <span><button (click)="nextSlide()"><img src=".././assets/right.png" alt=""></button></span> -->
              </p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    } @if(this.router.url === "/about-us" || this.router.url=== '/council' ||
    this.router.url=== '/places' || this.router.url=== '/privacy' ||
    this.router.url=== '/projects' || this.router.url=== '/contact-us'){
    <ng-container>
      <div class="row">
        <div class="col-12 col-md-12 col-12">
          <div class="container">
            <p
              class="text-uppercase text-block"
              style="font-size: 45px; margin-left: 0px"
            >
              <b>{{ CurrentURL | titlecase }}</b>
            </p>
          </div>
        </div>
      </div>
    </ng-container>
    } @if( this.router.url !== '/home' && this.PathName !== 'page-not-found' &&
    this.router.url!== '/about-us' && this.router.url!== '/council' &&
    this.router.url!== '/places' && this.router.url!== '/privacy' &&
    this.router.url!== '/projects' && this.router.url!== '/contact-us'){
    <ng-container>
      <div class="row">
        <div class="col-12 col-md-12 col-12">
          <div class="container">
            <div class="text-block" style="margin-left: 0px !important">
              <p class="fs-6 text-uppercase" style="font-size: 10vw">
                <b>{{ CurrentURL | titlecase }}</b>
              </p>
              <h2 class="text text-uppercase">{{ PathName | titlecase }}</h2>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    }
  </div>
</div>
<div
  class="back resmob carousel-slide"
  [ngStyle]="{
    'background-image':
      this.router.url === '/home'
        ? slides[currentSlide].background
        : 'url(/assets/table.png)',
    height: this.router.url === '/home' ? '50vh' : '30vh'
  }"
>
  <ng-container>
    <div>
      <nav role="navigation" class="navigation">
        <div class="navigation__logo">
          <a href="/">
            <img
              src="./assets/dmc-logo-1.png"
              alt="DMC-Logo"
              class="img-fluid"
              height="50"
              width="50"
            />
            <span
              class="ml-2 text-white py-4"
              style="cursor: pointer; font-size: 15px"
              >DAMAN MUNICIPAL COUNCIL</span
            >
          </a>
        </div>
        <div class="navigation__wrapper">
          <input
            type="checkbox"
            id="hamburger"
            (click)="toggleMenuhamburger()"
            #hamburgerCheckbox
          />
          <label for="hamburger" class="navigation__button">
            <span></span>
            <span></span>
            <span></span>
          </label>

          <ul class="navigation__links">
            <div>
              <img
                src="../assets/dmc-logo-1.png"
                width="50"
                height="50"
                alt=""
              />
              <a routerLink="/home"
                ><span
                  class="ml-2 text-white py-4"
                  style="cursor: pointer; font-size: 15px"
                  >DAMAN MUNICIPAL COUNCIL</span
                ></a
              >
            </div>
            <li class="mt-3"><a routerLink="about-us">About us</a></li>
            <li><a routerLink="council">Council</a></li>

            <li
              class="p-menu"
              [ngClass]="{ open: IsService }"
              (click)="toggleMenu(1)"
            >
              <div class="d-flex justify-content-between">
                <a id="menu-link">Service </a>
                <mat-icon id="menu-icon" class="downarr"
                  >keyboard_arrow_down</mat-icon
                >
              </div>
              <ul class="d-menu">
                <li><a routerLink="/service/overview">Overview</a></li>
                <li><a routerLink="/service/birth-death">Birth & Death</a></li>
                <li><a routerLink="/service/nsap">NSAP</a></li>
                <li><a routerLink="/service/licence">Licence</a></li>
                <li>
                  <a routerLink="/service/construction"
                    >Construction & Occupancies</a
                  >
                </li>
                <li>
                  <a href="https://sampark.dmcdaman.in/#/home" target="_blank"
                    >Online Services</a
                  >
                </li>
              </ul>
            </li>

            <li
              class="p-menu"
              [ngClass]="{ open: IsCititzen }"
              (click)="toggleMenu(2)"
            >
              <div class="d-flex justify-content-between">
                <a id="menu-link">Citizen </a>
                <mat-icon id="menu-icon" class="downarr"
                  >keyboard_arrow_down</mat-icon
                >
              </div>
              <ul class="d-menu">
                <li><a routerLink="/citizen/charters">Charters</a></li>
                <li><a routerLink="/citizen/tax">Tax</a></li>
              </ul>
            </li>

            <li
              class="p-menu"
              [ngClass]="{ open: IsInformation }"
              (click)="toggleMenu(3)"
            >
              <div class="d-flex justify-content-between">
                <a id="menu-link">Information </a>
                <mat-icon id="menu-icon" class="downarr"
                  >keyboard_arrow_down</mat-icon
                >
              </div>
              <ul class="d-menu">
                <li><a routerLink="/information/tender">Tender</a></li>
                <li><a routerLink="/information/vacancy">Vacancy</a></li>
                <li><a routerLink="/information/schems">Schems</a></li>
                <li><a routerLink="/information/RTI">RTI</a></li>
              </ul>
            </li>

            <!-- quick-link -->

            <!-- <li><a>Building Approval</a></li> -->
            <!-- <li><a href="https://sampark.dmcdaman.in/#/auction/login" target="_blank">Auction</a>
                        </li> -->
            <li>
              <a
                href="https://sampark.dmcdaman.in/#/propertytax/paymentlist"
                target="_blank"
                >Pay Property Tax</a
              >
            </li>
            <li><a routerLink="/information/tender">Tender</a></li>
            <li>
              <a
                href="https://sampark.dmcdaman.in/#/newcomplaint"
                target="_blank"
                >Complain</a
              >
            </li>
            <li>
              <a href="https://sampark.dmcdaman.in/#/question" target="_blank"
                >FAQ</a
              >
            </li>
          </ul>
        </div>
      </nav>

      @if(this.router.url === "/home"){
      <ng-container>
        <div class="row">
          <div class="col-12 col-md-12 col-12">
            <div class="container">
              <div class="text-block">
                <h1 style="text-align: start">
                  Your Gateway to Civic Services & City Information
                </h1>
                <p class="text-start">
                  Access public services, stay informed, and explore our
                  beautiful city.
                </p>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      } @if(this.router.url === "/about-us" || this.router.url=== '/council' ||
      this.router.url=== '/places' || this.router.url=== '/privacy' ||
      this.router.url=== '/projects' || this.router.url=== '/contact-us'){
      <ng-container>
        <div class="row">
          <div class="col-12 col-md-12 col-12">
            <div class="container">
              <p
                class="text-uppercase text-block mt-2"
                style="font-size: 30px; margin-left: 0px"
              >
                <b>{{ CurrentURL | titlecase }}</b>
              </p>
            </div>
          </div>
        </div>
      </ng-container>
      } @if( this.router.url !== '/home' && this.PathName !== 'page-not-found'
      && this.router.url!== '/about-us' && this.router.url!== '/council' &&
      this.router.url!== '/places' && this.router.url!== '/privacy' &&
      this.router.url!== '/projects' && this.router.url!== '/contact-us'){
      <ng-container>
        <div class="row">
          <div class="col-12 col-md-12 col-12">
            <div class="container">
              <div class="text-block" style="margin-left: 0px !important">
                <p class="fs-6 text-uppercase" style="font-size: 10vw">
                  <b>{{ CurrentURL | titlecase }}</b>
                </p>
                <h2 class="text text-uppercase">{{ PathName | titlecase }}</h2>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      }
    </div>
  </ng-container>
</div>

<router-outlet></router-outlet>

<footer>
  <div class="col-12">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-xs-12 col-12">
          <div class="row mt-4">
            <div class="col-2">
              <img src="assets/telephone.png" alt="telephone" />
            </div>
            <div class="col-10">
              <p class="footer-p">Telephone</p>
              <p class="footer-common text-decoration-none">
                <a
                  href="tel: +91 7016598012"
                  class="text-decoration-none text-white"
                  >+91 7016598012</a
                >
                <!-- <a href="tel: 2230879" class="text-decoration-none text-white">2230879</a> -->
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-xs-12Fcharte col-12">
          <div class="row mt-4">
            <div class="col-2">
              <img src="assets/mail.png" alt="Mail" />
            </div>
            <div class="col-10">
              <div class="col-10">
                <p class="footer-p">Mail Address</p>
                <p class="text-decoration-none">
                  <a
                    href="mailto: codmc-daman-dd@nic.in"
                    class="text-decoration-none text-white"
                  >
                    codmc-daman-dd&#64;nic.in</a
                  >
                  <br />
                  <a
                    href="mailto: codmc.daman@gmail.com"
                    class="text-decoration-none text-white"
                    >codmc.daman&#64;gmail.com</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-xs-12 col-12">
          <div class="row mt-4">
            <div class="col-2">
              <img src="assets/location.png" alt="Loaction" />
            </div>
            <div class="col-10">
              <p class="footer-p">Location</p>
              <p>
                <a
                  href="https://www.google.com/maps/place/Daman+Municipal+Council/@20.4059663,72.8316347,17z/data=!3m2!4b1!5s0x3be0d07d075886cf:0x2f0da1c296fc6686!4m6!3m5!1s0x3be0d09a1937d901:0x76c835ab18ff7b9a!8m2!3d20.4059613!4d72.8342096!16s%2Fg%2F1pyqkylwl?entry=ttu"
                  target="_blank"
                  class="text-decoration-none text-white"
                  >Fort Area Moti Daman, Daman (U.T.) - 396220</a
                >
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-xs-12 col-12">
          <div class="row mt-4">
            <div class="col-2">
              <img src="assets/fax.png" alt="fax" />
            </div>
            <div class="col-10">
              <div class="col-10">
                <p class="footer-p">Fax</p>
                <p class="text-decoration-none text-white">02602231707</p>
              </div>
            </div>
          </div>
        </div>
        <hr />
      </div>
      <div class="row">
        <div class="col-lg-5 col-md-6 col-12 mt-2 mb-3 ms-0">
          <div>
            <div class="d-flex">
              <p>
                <img
                  src="../assets/dmc-logo-1.png"
                  class="w-100 h-100"
                  alt="DMC LOGO"
                />
              </p>
              <span class="d-flex fs-4 p-2">DAMAN MUNICIPAL COUNCIL </span>
            </div>
            <div class="mt-4 row">
              <div class="d-flex logos" style="gap: 30px">
                <a href="https://www.india.gov.in/" target="_blank"
                  ><img src="assets/n-emblemb.png" alt="emblemb"
                /></a>
                <a href="https://www.digitalindia.gov.in/" target="_blank"
                  ><img src="../assets/d-india.png" alt="Gov"
                /></a>
                <a href="https://www.mygov.in/" target="_blank"
                  ><img src="assets/mygov1.png" alt="MyGov"
                /></a>
              </div>
            </div>
            <div class="mt-4">
              <a href="https://twitter.com/DMCDAMAN1613" target="_blank">
                <img
                  src="assets/x.png"
                  alt="Tweeter"
                  width="35"
                  height="35"
                  style="margin-right: 20px"
              /></a>
              <a href="https://www.facebook.com/DMCDAMAN1613/" target="_blank">
                <img
                  src="assets/fb.png"
                  alt="Facebook"
                  width="35"
                  height="35"
                  style="margin-right: 20px"
              /></a>
              <a
                href="https://www.instagram.com/damanmunicipalcouncil/?igsh=aHMxZzdhc3QxbXly"
                target="_blank"
              >
                <img
                  src="assets/insta.png"
                  alt="Instagram"
                  width="35"
                  height="35"
                  style="margin-right: 20px"
              /></a>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-xs-12 mt-2 mb-3">
          <div>
            <h2 class="footer-common fs-4">Quick Links</h2>
            <div class="quick-link">
              <p
                routerLinkActive="active"
                class=""
                style="cursor: pointer"
                routerLink="/information/Circular&Notifications"
              >
                Circular & Notifications
              </p>
              <a
                href="https://sampark.dmcdaman.in/#/propertytax/paymentlist"
                class="text-white"
                target="_blank"
              >
                <p class="" style="cursor: pointer">Pay Property Tax</p>
              </a>
              <p
                routerLinkActive="active"
                class=""
                style="cursor: pointer"
                routerLink="/information/vacancy"
              >
                Recruitments
              </p>
              <p
                routerLinkActive="active"
                class=""
                style="cursor: pointer"
                routerLink="/information/tender"
              >
                Tender & Quotations
              </p>
              <p
                routerLinkActive="active"
                class=""
                style="cursor: pointer"
                routerLink="/information/schemes"
              >
                Schemes
              </p>
              <p
                routerLinkActive="active"
                class=""
                style="cursor: pointer"
                routerLink="contact-us"
              >
                Contact Us
              </p>
              <p
                routerLinkActive="active"
                class=""
                style="cursor: pointer"
                routerLink="privacy"
              >
                Privacy Policy
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-xs-12 mt-2 mb-3">
          <div>
            <h2 class="footer-common fs-4">Online Service</h2>
            <div class="quick-link">
              <p>
                <a
                  class="text-white text-decoration-none"
                  href="https://sampark.dmcdaman.in/#/propertytax/paymentlist"
                  target="_blank"
                  >Property Tax</a
                >
              </p>
              <p>
                <a
                  class="text-white text-decoration-none"
                  href="https://odps.dmcdaman.in/BpamsClient/"
                  target="_blank"
                  >Construction & Permissions</a
                >
              </p>
              <p>
                <a
                  class="text-white text-decoration-none"
                  href="https://sampark.dmcdaman.in/#/newcomplaint"
                  target="_blank"
                  >Complain</a
                >
              </p>
              <p>
                <a
                  class="text-white text-decoration-none"
                  href="https://sampark.dmcdaman.in/#/auction/login"
                  target="_blank"
                  >Auction</a
                >
              </p>
              <p>
                <a
                  class="text-white text-decoration-none"
                  href="https://daman.nic.in/ojas/"
                  target="_blank"
                  >Job Application</a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12 mt-2 mb-3 justify-content-end">
          <div>
            <h2 class="footer-common fs-4 mb-4">Install App</h2>
            <div class="g-4">
              <a
                href="https://apps.apple.com/in/app/dmc-sampark/id6502699452"
                target="_blank"
                ><img src="../assets/appstore.png" alt="appstore img"
              /></a>
              <br />
              <a
                href="https://play.google.com/store/apps/details?id=com.rs.citizenconnect.dmc"
                target="_blank"
                ><img
                  class="mt-2"
                  src="../assets/playstore.png"
                  alt="playstore img"
              /></a>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row py-3">
        <div class="col-xl-6 col-md-12 col-xs-12 d-flex ms-0">
          <p class="quick-link">Copyright 2024 Daman Municipal Council</p>
        </div>
        <div>
          <p>Total Visitors: {{ visitCount }}</p>
        </div>
        <div class="col-xl-6 col-md-12 col-xs-12 justify-content-end">
          <p class="quick-link">
            Design & Developed by : &nbsp;
            <a
              href="https://www.responscity.com/Responscity/Index.html"
              target="_blank"
              ><img src="assets/rspl-logo.png" alt="logo" height="30"
            /></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>

<div
  class="scroll-to-top"
  (click)="scrollToTop()"
  *ngIf="showScrollButton"
  style="cursor: pointer; z-index: 99 !important"
>
  <img src="../assets/up-arrow1.png" alt="Scroll to top" />
</div>

<div
  class="modal fade"
  id="ConfirmModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content border-danger">
      <div class="modal-header text-white bg-danger d-flex justify-content-end">
        <h5 class="modal-title" id="exampleModalCenterTitle">
          License and/or Service Period expired
        </h5>
        <mat-icon
          class="BtnMatEdit"
          data-dismiss="modal"
          style="font-size: 20px; color: white; cursor: pointer"
        >
          close
        </mat-icon>
      </div>
      <div class="modal-body">
        Pay property tax before March 3, 2025, to avoid a 15% penalty.
      </div>
      <div class="modal-footer">
        <button #closemodal data-dismiss="modal" class="d-none">Close</button>
      </div>
    </div>
  </div>
</div>

<button
  #confirmButton
  class="Btn"
  style="margin: 10px 0px 10px 0px; display: none"
  data-toggle="modal"
  data-target="#ConfirmModalCenter"
  data-backdrop="static"
  data-keyboard="false"
>
  Submit
</button>
