<div>
    <div class="container">
        <header class="mt-5">
            <h4>Tenders</h4>
        </header>
        <hr>
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                   <th>Tender Name</th>
                   <th>Last Date For Submission</th>
                   <th>Approximate Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a class="text-decoration-none"
                             href="assets/Pdf/Annual_Maintenance_contract_for_Ekta_Udyan_and_Samudranarayn_Udyan_at_Nani_Daman.pdf"
                            target="_blank"><i class="fa fa-file-pdf-o text-danger"></i> Annual Maintenance contract for Ekta Udyan and
                            Samudranarayn Udyan at Nani Daman.</a>
                    </td>
                    <td>26-09-2022</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <a class="text-decoration-none"
                           href="assets/Pdf/Remaning_works_for_Construction_of_Vegetable_Market,Fish_Market_at_Moti_Daman.pdf"
                            target="_blank"><i class="fa fa-file-pdf-o text-danger text-decoration-none"></i> Remaning works for
                            Construction of Vegetable Market, Fish Market at Moti Daman</a>
                    </td>
                    <td>26-09-2022</td>
                    <td>9,02,30,754 Cr.</td>
                </tr>
                <tr>
                    <td>
                        <a class="text-decoration-none"
                            href="assets/Pdf/Beautification_of_the_football_ground,Moti_Daman.pdf"
                            target="_blank"><i class="fa fa-file-pdf-o text-danger text-decoration-none"></i> Beautification of the
                            football ground, Moti Daman
                        </a>
                    </td>
                    <td>26-08-2022</td>
                    <td>3,95,96,260 Cr.</td>
                </tr>
                <tr>
                    <td>
                        <a class="text-decoration-none"
                            href="assets/Pdf/Interior_work_of_Bandodkar_stadium_at_Nani_Daman.pdf"
                            target="_blank"><i class="fa fa-file-pdf-o text-danger text-decoration-none"></i> Interior work of Bandodkar
                            stadium at Nani Daman
                        </a>
                    </td>
                    <td>29-07-2022</td>
                    <td>2,85,39,967 Cr.</td>
                </tr>
                <tr>
                    <td>
                        <a class="text-decoration-none"
                             href="assets/Pdf/Construction_of_hume_pipe_gutter_from_Bus_Stop_Nani_Daman_to_RCC_Box_type.pdf"
                            target="_blank"><i class="fa fa-file-pdf-o text-danger text-decoration-none"></i> Construction of hume pipe
                            gutter from Bus Stop Nani Daman to RCC Box type
                        </a>
                    </td>
                    <td>22-07-2022</td>
                    <td>10,84,801 Lakh.</td>
                </tr>
                <tr>
                    <td>
                        <a class="text-decoration-none"
                            href="assets/Pdf/Supply_of_Building_&_Construction_of_hume_pipe_from_Zala_ni_wadi_to_Vithalnath.pdf"
                            target="_blank"><i class="fa fa-file-pdf-o text-danger text-decoration-none"></i> Supply of Building &amp;
                            Construction of hume pipe from Zala ni wadi to Vithalnath
                        </a>
                    </td>
                    <td>27-05-2022</td>
                    <td>39,60,651 Lakh &amp; 6,17,711 Lakh respectively</td>
                </tr>
                <tr>
                    <td>
                        <a class="text-decoration-none" href="assets/Pdf/48-25-02-2019.pdf"
                            target="_blank"><i class="fa fa-file-pdf-o text-danger"></i> Office of the Collector : Tender for Hiring of
                            Vehicles
                        </a>
                        <p class="small">(Registered as Commercial Vehicle).</p>
                    </td>
                    <td>04-03-2019</td>
                    <td>18 Lakh /-</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
