<div class="pb-5">
    <div class="container">
        <h4 class="--font-size-20 fw-bold --text-dark-gray mt-5">Bandodkar Sports complex, Nani Daman</h4>
        <hr />
        <div class="content row">
            <div class="col-12">
                <p class="text-justify">
                    There is an existing Cricket ground named Bandodkar Stadium, at Nanidaman. The Ground is not yet
                    developed only murrum filling and leveling work done that also by maintaining proper line and
                    level, without drainage system. The ground is not of standard level where professional cricket or
                    games can be played. This ground is at the center of the Municipal area. Lots of functions
                    are being organized in this play ground which results in damaging the ground surface. There is a
                    huge demand of Club house in municipal area by the councilors and citizens, with community
                    club or community center where small kind of sports or other activities can be done. It is proposed
                    to construct Sports complex, with club house, community center, Professional cricket
                    ground, with proper line level drainage and sprinkling system. The club house will be facilitated
                    with many indoor games, with little kind of restaurant and other modern facilities. The
                    entire sports complex is divided in two zones a) Clubhouse with facilities for leisure,
                    entertainment and dining facility b) Community Sports Centre with facilities for cricket ground,
                    lawn
                    tennis, volley ball courts and rest rooms with changing facility. CLUBHOUSE:- Entertainment
                    Facility:- Card Room, Carom Room, TV Room . Table Tennis and Billiards Room. Children’s Play Room
                    4 nos of Ensuite Rooms .5 nosof Leisure Sit out and Dining Area , Gym, Terrace Seating with Dining
                    Facility COMMUNITY SPORTS CENTRE:- Restroom and Changing Facility, Verandah for gathering,.
                    Cricket Ground with lawn, Lawn Tennis, Volleyball Court, nos. Cricket Practice Pitch, Pavilion for
                    spectators,Stage for flag hoisting, 2.5m wide Jogging Track This project is awarded
                    toAgency M/s. Shanti Structure Pvt. Ltd., The revised project cost is Rs.12.51Crore.
                </p>
            </div>
            <div class="col-xl-6 col-lg-6  col-md-6 col-xs-12 col-12">
                <img src="assets/Sport_Complex1.png" alt="sports complex" class="img-fluid img-thumbnail float-end mx-3 my-3" />
            </div>
            <div class="col-xl-6 col-md-6 col-xs-12 col-12">
                <img src="assets/Sport_Complex2.jpg" alt="sports complex" class="img-fluid img-thumbnail float-end mx-3 my-3" />
            </div>
        </div>
    </div>
</div>