<div class="pb-5">
    <div class="container">
        <h4 class="--font-size-20 fw-bold --text-dark-gray mt-5">Daman Underground Sewerage Project</h4>
        <hr />
        <div class="content row">
            <div class="col-12">
                <p>
                    Daman Municipal Council has provided a facility to the citizen of Daman by coming up with this major
                    project of Sewerage networking and Sewerage Treatment plant for Moti Daman and Nani Daman
                    with gravity and vacuum sewerage system.
                </p>
                <ul>
                    <li>Sewerage treatment plant situated at Rajiv Gandhi Setu has the capacity of 4.21MLD based on
                        Sequential Batch Reactor Technology.</li>
                    <li>Sewerage networking with gravity line is about 18km in Moti Daman Urban area.</li>
                    <li>Also covering Mitnawad and Kharawad about 8km (part) with Vacuum networking system in Nani
                        Daman.</li>
                </ul>
            </div>

            <div class="col-lg-12 col-md-12 col-xs-12 col-12">
                <img src="assets/project8.png" class="img-fluid img-thumbnail" alt="Sewerage Project" />
            </div>
            <!-- <div class="col-lg-6 col-md-6 col-xs-12 col-12">
        <img src="assets/municipal-market-01.jpg" class="img-fluid img-thumbnail" alt="Restoration for Municipal Market" />
      </div> -->
        </div>
    </div>
</div>