<div class="pb-5">
    <div class="container">
        <h4 class="--font-size-20 fw-bold --text-dark-gray mt-5">Pradhan Mantri Awas Yojana</h4>
        <hr />
        <div class="content row">
            <div class="col-12">
                <p class="text-justify mb-3">
                    "Housing for All" Mission for urban area has been implemented with effect from 17.06.2015 to provide
                    central assistance to implementing agencies. The Credit Linked Subsidy Scheme is being
                    offered under this mission. For Middle Income Group (MIG), the interest subsidy will be provided on
                    housing loans for acquisition/construction of houses (including repurchase). For
                    Economically Weaker Section (EWS)/Lower Income Group (LIG), the interest subsidy will be provided on
                    housing loans for acquisition, construction of house. The Credit Linked subsidy would
                    also be available for loans availed for new construction and addition of rooms, kitchen, toilet etc.
                    to existing dwellings as incremental housing. The interest subsidy benefit will be
                    upfront on the principal outstanding. The availability and amount of interest subsidy is subject to
                    meeting income criteria as per various categories under the scheme.
                </p>
            </div>
            <div class="col-lg-12 col-md-12 col-xs-12 col-12">
                <img src="assets/PMAY_Project.png" alt="PMAY" class="img-fluid img-thumbnail float-end mx-3 my-3" />
            </div>
        </div>
    </div>
</div>