<div class="pb-5">
    <div class="container">
        <div class="header">
            <h4 class="--font-size-20 fw-bold --text-dark-gray mt-5">Building Permissions Checklist</h4>
            <hr />
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6 col-xs-12 col-12 mb-3">
                    <div class="card">
                        <div class="card-header text-center">
                            <h6>Building Permissions Checklist</h6>
                        </div>
                        <div class="card-body text-center">
                            <img src="assets/icons/constrcution.png" class="img-fluid" width="100"  alt="icon" />
                            <a href="assets/Pdf/Checklist For Building-.pdf" class="btn btn-primary btn-block mt-3"
                                target="_blank">Click To View / Download</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-xs-12 col-12 mb-3">
                    <div class="card">
                        <div class="card-header text-center">
                            <h6>Occupancy Certificate</h6>
                        </div>
                        <div class="card-body text-center">
                            <img src="assets/icons/constrcution.png" class="img-fluid" width="100"  alt="icon"/>
                            <a href="assets/Pdf/Occupancy Certificate.pdf" class="btn btn-primary btn-block mt-3"
                                target="_blank">Click To View / Download</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-xs-12 col-12 mb-3">
                    <div class="card">
                        <div class="card-header text-center">
                            <h6>High Rise and Special Building</h6>
                        </div>
                        <div class="card-body text-center">
                            <img src="assets/icons/constrcution.png" class="img-fluid" width="100" alt="icon" />
                            <a href="assets/Pdf/Only for High Rise and Special Building.pdf"
                                class="btn btn-primary btn-block mt-3" target="_blank">Click To View / Download</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-xs-12 col-12 mb-3">
                    <div class="card">
                        <div class="card-header text-center">
                            <h6>Form of Informing Completion</h6>
                        </div>
                        <div class="card-body text-center">
                            <img src="assets/icons/constrcution.png" class="img-fluid" width="100" alt="icon" />
                            <a href="assets/Pdf/Form of Informing Completion.pdf" class="btn btn-primary btn-block mt-3"
                                target="_blank">Click To View / Download</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-xs-12 col-12 mb-3">
                    <div class="card">
                        <div class="card-header text-center">
                            <h6>Form of Indemnity for Part Occupancy Cert.</h6>
                        </div>
                        <div class="card-body text-center">
                            <img src="assets/icons/constrcution.png" class="img-fluid" width="100" alt="icon" />
                            <a href="assets/Pdf/Form of Indemnity for Part Occupancy Certificate.pdf"
                                class="btn btn-primary btn-block mt-3" target="_blank">Click To View / Download</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-xs-12 col-12 mb-3">
                    <div class="card">
                        <div class="card-header text-center">
                            <h6>Informing Completion of Work to Plinth Level</h6>
                        </div>
                        <div class="card-body text-center">
                            <img src="assets/icons/constrcution.png" class="img-fluid" width="100" alt="icon" />
                            <a href="assets/Pdf/Form of Informing Completion of Work to Plinth Level.pdf"
                                class="btn btn-primary btn-block mt-3" target="_blank">Click To View / Download</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-xs-12 col-12 mb-3">
                    <div class="card">
                        <div class="card-header text-center">
                            <h6>Cert. for undertaking of registered structural engineer</h6>
                        </div>
                        <div class="card-body text-center">
                            <img src="assets/icons/constrcution.png" class="img-fluid" width="100" alt="icon" />
                            <a href="assets/Pdf/registered_engineer_cert.pdf" class="btn btn-primary btn-block mt-3"
                                target="_blank">Click To View / Download</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-xs-12 col-12 mb-3">
                    <div class="card">
                        <div class="card-header text-center">
                            <h6>Cert. for undertaking of registered engineer</h6>
                        </div>
                        <div class="card-body text-center">
                            <img src="assets/icons/constrcution.png" class="img-fluid" width="100" alt="icon" />
                            <a href="assets/Pdf/registered_engineer_cert.pdf" class="btn btn-primary btn-block mt-3"
                                target="_blank">Click To View / Download</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-xs-12 col-12 mb-3">
                    <div class="card">
                        <div class="card-header text-center">
                            <h6>Form for Notice of Commencement of work</h6>
                        </div>
                        <div class="card-body text-center">
                            <img src="assets/icons/constrcution.png" class="img-fluid" width="100"  alt="icon"/>
                            <a href="assets/Pdf/Form for Notice of Commencement of work.pdf"
                                class="btn btn-primary btn-block mt-3" target="_blank">Click To View / Download</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>