<div class="row m-0">


    <div class="col-12 s-bg">
        <div class="container">
            <div class=" summary px-3">
                <div class="card-group justify-content-center" style="gap: 1px;">
                    <div class="card-first  p-1 pt-3 mb-3">
                        <div class="card-inner">
                            <div class="card-img-top d-flex justify-content-center card-front">
                                <img width="75" height="75" class="mt-5" src="assets/home1.png" alt="Card image cap">
                                <div class="card-footer mb-5 card-title">register complaint</div>
                            </div>
                            <div class="card-body card-back">
                                <div class="card-title fw-bold fs-5 mb-3">
                                    register complaint
                                </div>
                                <p class="card-text">Not satisfied with the services by DMC, register your complaint and
                                    track the complaint status.</p>
                                <div class="justify-content-between d-flex card-footer">
                                    <a href="https://sampark.dmcdaman.in/#/newcomplaint" target="_blank">
                                        <button class="btn btn-success btn-block">New Complaint</button>
                                    </a>
                                    <a href="https://sampark.dmcdaman.in/#/complaintinfo" target="_blank">
                                        <button class="btn btn-success btn-block">Status</button>
                                    </a>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="card-first  p-1 pt-3 mb-3">
                        <div class="card-inner">
                            <div class="card-img-top d-flex justify-content-center  card-front">
                                <img width="75" height="75" class="mt-5" src="assets/home1.png" alt="Card image cap">
                                <div class="card-footer card-title mb-4 ">Shop & Establishment Licence</div>

                            </div>
                            <div class="card-body card-back">
                                <div class="card-title fw-bold fs-5 mb-3">
                                    Shop & Establishment Licence
                                </div>
                                <p class="card-text">Simplify licensing with our shop & establishment module for
                                    effortless compliance</p>
                                <div class="justify-content-between d-flex card-footer">
                                    <a href="https://sampark.dmcdaman.in/#/shopestablishment-license/shop-establishment"
                                        target="_blank">
                                        <button class="btn btn-success">Online Application</button>
                                    </a>
                                    <a href="https://sampark.dmcdaman.in/#/shopestablishment-license/ShopList"
                                        target="_blank">
                                        <button class="btn btn-success">Status</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-first  p-1 pt-3 mb-3">
                        <div class="card-inner">
                            <div class="card-img-top d-flex justify-content-center  card-front">
                                <img width="75" height="75" class="mt-5" src="assets/letter.png" alt="Card image cap">
                                <div class="card-footer card-title mb-5">Temporary Construction</div>
                            </div>
                            <div class="card-body card-back">
                                <div class="card-title fw-bold fs-5 mb-3">
                                    Temporary Construction
                                </div>
                                <p class="card-text">Need a festival stall or wedding tent? Get permissions and pay fees
                                    to ensure safety and compliance. Apply today!
                                </p>
                                <div class="justify-content-between d-flex card-footer">
                                    <a href="https://sampark.dmcdaman.in/#/temporaryconstruction/newrequest"
                                        target="_blank">
                                        <button class="btn btn-success">New Application</button>
                                    </a>
                                    <a href="https://sampark.dmcdaman.in/#/temporaryconstruction/applicationstatus"
                                        target="_blank">
                                        <button class="btn btn-success">Status</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-first  p-1 pt-3 mb-3">
                        <div class="card-inner">
                            <div class="card-img-top d-flex justify-content-center  card-front">
                                <img width="75" height="75" class="mt-5" src="assets/law.png" alt="Card image cap">
                                <div class="card-footer card-title mb-5">view all tenders</div>
                            </div>
                            <div class="card-body card-back">
                                <div class="card-title fw-bold fs-5 mb-3 text-break">
                                    view all tenders
                                </div>
                                <p class="card-text">Now Citizen can online participate in Auctions by D.M.C.</p>
                                <div class="justify-content-between d-flex card-footer">
                                    <a href="https://sampark.dmcdaman.in/#/auction/login" target="_blank">
                                        <button class="btn btn-success">Start Auction</button>
                                    </a>
                                    <a href="https://sampark.dmcdaman.in/#/auction/login" target="_blank">
                                        <button class="btn btn-success">Bid History </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row  mt-5 mb-2">
                <div class="col-lg-6 col-md-12 col-xs-12 ">
                    <img src="../assets/full.png" class="welcome-image" alt="image" />
                </div>
                <div class="col-lg-6 col-md-12 col-xs-12">
                    <div class="box border border-dark border-opacity-10 img-box">
                        <div class="s-bg px-3 py-5">
                            <h6 class="text-success text-uppercase">Discover Daman</h6>
                            <h1 class="mt-2 text-uppercase fw-bolder">A City of Heritage and Beauty!</h1>
                            <p class="mt-4 text-common">
                                Discover Daman, a city rich in history and culture, nestled on
                                the western coast of India. Known for its scenic beaches,
                                vibrant festivals, and colonial heritage, Daman offers a unique
                                blend of natural beauty and historical significance. Explore our
                                city and uncover the charm that makes Daman a beloved
                                destination for both residents and visitors alike.
                            </p>
                            <div class="row mb-4">
                                <div class="col-md-6 col-xs-12">
                                    <div>
                                        <span><img src="assets/book.png" alt="book"></span>
                                        <span class="">&nbsp;88.06 % Literacy rate</span>
                                    </div>
                                    <div class="">
                                        <span><img src="assets/account_balance.png" alt="balance"></span>
                                        <span class="">&nbsp;1 Municipality </span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xs-12">
                                    <div>
                                        <span><img src="assets/square_foot.png" alt="squarefoot"></span>
                                        <span class="">&nbsp;72.00 sq. Km Area</span>
                                    </div>
                                    <div class="">
                                        <span><img src="assets/group.png" alt="group"></span>
                                        <span class="">&nbsp;1,91,173 Population </span>
                                    </div>
                                </div>
                            </div>
                            <button class="button-common mt-4" [routerLink]="['/about-us']" target="_blank">Know
                                More <img src="assets/cross-arrow.png" alt="arrow"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-12 col-md-12 col-xs-12 pb-2 mt-4 mb-4 ">
                <marquee behavior="scroll" direction="left" scrollamount="8" onmouseover="this.stop()"
                    onmouseout="this.start()">
                    <div class="d-flex p-2">
                        <div class="alerts">
                            <a href="assets/Pdf/DMC Fish Market Shop Auction Document.pdf" target="_blank">
                                <span class="text-uppercase text-success fw-bold ">Update</span>
                                <span class="message fw-light">DMC Fish Market Shop Auction Document</span>
                                <span class="arrow">&#8594;</span>

                            </a>
                        </div>
                        <div class="alerts">
                            <a href="assets/Pdf/application_form_for_property_tax.pdf" target="_blank">
                                <span class="text-uppercase text-success fw-bold ">Update</span>
                                <span class="message fw-light">Application Form For Property tax</span>
                                <span class="arrow">&#8594;</span>

                            </a>
                        </div>
                        <div class="alerts">
                            <a href="https://sampark.dmcdaman.in/#/auction/login" target="_blank">
                                <span class="text-uppercase text-success fw-bold ">Update</span>
                                <span class="message fw-light ml-2">ONLINE E-AUCTION FOR DMC SHOP</span>
                                <span class="arrow">&#8594;</span>
                            </a>
                        </div>
                        <div class="alerts">
                            <a href="assets/Pdf/public_notice_for_property_tax.pdf" target="_blank">
                                <span class="text-uppercase text-success fw-bold ">Update</span>
                                <span class="message fw-light">PUBLIC NOTICE FOR PROPERTY TAX.</span>
                                <span class="arrow">&#8594;</span>
                            </a>
                        </div>
                        <div class="alerts">
                            <a href="assets/Pdf/PUBLICE_NOTICE.pdf" target="_blank">
                                <span class="text-uppercase text-success fw-bold ">Update</span>
                                <span class="message fw-light">Closed auction notice for Shop & Stalls in phase III of
                                    DMC</span>
                                <span class="arrow">&#8594;</span>
                            </a>
                        </div>
                    </div>
                </marquee>
            </div>

        </div>
    </div>

    <!-- second page ends -->

    <!-- services and visit places starts -->

    <div class="bg-light col-12">
        <div class="container">
            <div class="bg-img border mt-5">
                <div class="row mb-5">
                    <div class="col-lg-4 col-md-12 col-xs-12 place-text1">
                        <h1 class="text-uppercase fw-bold text-break">Other
                            <br>Services!
                        </h1>
                        <p class="fw-light">Explore the top attractions in Daman, from its serene beaches to its
                            historic landmarks.
                        </p>
                    </div>
                    <div class="col-lg-8 col-md-12 col-xs-12" style="z-index: 99;">
                        <div class="container">
                            <div class="carousel slide" data-bs-ride="true" id="carouselExampleIndicators">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="row mt-5 ">
                                            <div class="col-xl-3 col-lg-6  col-md-12 col-sm-12 mt-3">
                                                <a routerLink="">
                                                    <div class="card-box  shadow">
                                                        <div class="img1">
                                                            <img alt="GIF Image" class=" img-fluid home mb-4"
                                                                src="../assets/home.png" width="50" height="50"
                                                                alt="home">
                                                            <!-- <img src="../../../assets/first.png" class="eclipse"> -->
                                                            <!-- <img src="../../../assets/Ellipse3.png" class="eclipse"> -->
                                                        </div>
                                                        <h5 class="my-3 service-text fs-4 text-uppercase">Building
                                                            Approval</h5>
                                                        <p class="pe-3 fw-normal-p ">Easily submit and track your
                                                            building approval applications.</p>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-xl-3 col-lg-6  col-md-12 col-sm-12 mt-3">
                                                <a href="assets/Pdf/Birth_Death_form.pdf" target="_blank">
                                                    <div class="card-box  shadow">
                                                        <img alt="GIF Image" class="img-fluid mb-4"
                                                            src="../assets/birth1.png" width="50" height="50"
                                                            alt="birth">
                                                        <h5 class="my-3  service-text fs-4 text-uppercase">Birth
                                                            Certificate
                                                        </h5>
                                                        <p class="pe-3 fw-normal-p ">Request official birth certificates
                                                            for identity and legal use.</p>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-xl-3 col-lg-6  col-md-12 col-sm-12 mt-3">
                                                <a href="assets/Pdf/Birth_Death_form.pdf" target="_blank">
                                                    <div class="card-box  shadow">
                                                        <img alt="GIF Image" class="img-fluid mb-4"
                                                            src="../assets/death1.png" width="50" height="50"
                                                            alt="death">
                                                        <h5 class="my-3  service-text fs-4 text-uppercase">Death
                                                            Certificate
                                                        </h5>
                                                        <p class="pe-3 fw-normal-p ">Get official death certificates for
                                                            legal and personal records.</p>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-xl-3 col-lg-6  col-md-12 col-sm-12 mt-3">
                                                <a href="https://sampark.dmcdaman.in/#/shopestablishment-license/shop-establishment"
                                                    target="_blank">
                                                    <div class="card-box  shadow">
                                                        <img alt="GIF Image" class="img-fluid mb-4"
                                                            src="../assets/licence1.png" width="50" height="50"
                                                            alt="licence">
                                                        <h5 class="my-3  service-text fs-4 text-uppercase">Licence</h5>
                                                        <p class="pe-3 fw-normal-p ">Register online for Shop &
                                                            Establishment licenses for easy business compliance.</p>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5 mb-5">
                <div class="col-xl-3 col-md-6 col-xs-12 ">
                    <h1 class="fw-bolder fs-1 text-break text-uppercase">Must visit places</h1>
                    <p class="fw-light">Explore the top attractions in Daman, from its serene beaches to its
                        historic landmarks.</p>
                    <button class="button-common mt-4 mb-5" routerLink='/places'>View all <img
                            src="assets/cross-arrow.png" alt="arrow"></button>
                </div>
                <div class="col-xl-9 col-md-6 col-xs-12 ">
                    <!-- <div class="row"> -->
                    <div id="carouselExampleFade" class="carousel slide carousel-fade">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="d-flex">
                                    <div class="row g-2">
                                        <div class="col-xl-3 place-card">
                                            <div class="card1">
                                                <img src="../assets/devka.png" class="card-img-top" alt="devka beach">
                                                <div class="card-body place-content mt-1">
                                                    <h5 class="card-title text-uppercase">Devka
                                                        beach <span><a
                                                                href="https://ddd.gov.in/places-centres/devka-beach-nani-daman/#:~:text=Devka%20beach%20is%20a%20sight,and%20play%20area%20for%20kids."
                                                                target="_blank"><img class="float-end "
                                                                    src="assets/c-arrow.png" alt="arrow" /></a></span>
                                                    </h5>
                                                    <p class="card-text mt-2 fw-normal">Devka beach is a sight of pure
                                                        beauty. Like so many other beaches of Daman, this too is a
                                                        massive, picturesque and quite
                                                        unspoilt.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 place-card">
                                            <div class="card1">
                                                <img src="assets/place2.png" class="card-img-top" alt="arrow">
                                                <div class="card-body place-content mt-1">
                                                    <h5 class="card-title">St Jerome Fort<span><a
                                                                href="https://ddd.gov.in/places-centres/fort-of-st-jerome-daman/"
                                                                target="_blank"><img class="float-end "
                                                                    src="assets/c-arrow.png" /></a></span></h5>
                                                    <p class="card-text mt-2 fw-normal">This huge fort is also known as
                                                        the
                                                        Nani Daman Fort. The most conspicuous part of this place is its
                                                        magnanimous gateway
                                                        that faces the river.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 place-card">
                                            <div class="card1">
                                                <img src="assets/garden.jpg" class="card-img-top" alt="garden-image">
                                                <div class="card-body place-content mt-1">
                                                    <h5 class="card-title">Vanganga Lake Garden<span><a
                                                                href="https://ddd.gov.in/places-centres/vanganga-lake-garden/"
                                                                target="_blank"><img class="float-end "
                                                                    src="assets/c-arrow.png" alt="arrow" /></a></span>
                                                    </h5>
                                                    <p class="card-text mt-2 fw-normal">With an area of about 7.58
                                                        hectares,
                                                        Vanganga Lake Garden stretches like a mini forest, containing
                                                        within its vastness a
                                                        beautiful lake</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 place-card">
                                            <div class="card1">
                                                <img src="assets/beach.jpg" class="card-img-top " style="height: 299px"
                                                    alt="beach-image">
                                                <div class="card-body place-content mt-1">
                                                    <h5 class="card-title">Lighthouse Beach<span><a
                                                                href="https://ddd.gov.in/places-centres/lighthouse-beach-moti-daman/"
                                                                target="_blank"><img class="float-end "
                                                                    src="assets/c-arrow.png" /></a></span></h5>
                                                    <p class="card-text mt-2 fw-normal">Head to the Moti Daman Jetty to
                                                        reach
                                                        the Lighthouse via the newly constructed beachfront road, “Ram
                                                        Setu”, which
                                                        extends from Moti Daman Jetty to Jampore Beach.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- services and visit places ends -->


    <!-- ongoing projects -->

    <div class="col-12" id="project">
        <div class="container">
            <div class=" fs-1 fw-bold mb-3 text-uppercase d-flex mt-5 mb-4">Ongoing projects</div>
            <div class="row  g-2">
                <div class="col-lg-3 col-md-6 col-xs-12 col-12">
                    <a href="#" class="card p-card text-decoration-none text-dark"
                        [routerLink]="['/projects/restoration']">
                        <div>
                            <img src="assets/project-home.png" class="card-img-top" alt="home-image">
                            <div class="card-body">
                                <p class=" project-title ">Restoration for Municipal Market</p>
                                <p class="card-text  fw-normal">This historic market, built in 1879 during the
                                    Portuguese era, is located in the heart of the city. It remains a
                                    renowned landmark since its construction. The market is central to Daman Municipal
                                    Council.</p>
                            </div>
                        </div>
                    </a>

                </div>

                <div class="col-lg-3 col-md-6 col-xs-12 col-12">
                    <div class="card p-card" [routerLink]="['/projects/beautification']" style="cursor: pointer;">
                        <img src="assets/project-home1.png" class="card-img-top" alt="home-image">
                        <div class="card-body">
                            <p class="project-title ">Multi Level Parking Building</p>
                            <p class="card-text fw-normal">Daman is a tourist place. Most of the tourist from Vapi,
                                Valsad,
                                Silvassa, Surat,
                                and
                                Mumbai and nearby area visit...</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-xs-12 col-12">
                    <div class="card p-card" [routerLink]="['/projects/beautification']" style="cursor: pointer;">
                        <img src="assets/nani-daman.png" class="card-img-top" alt="nani-daman-image">
                        <div class="card-body">
                            <p class="project-title">Beautification of Nani Daman Jetty Garden</p>
                            <p class="card-text fw-normal">The Nani Daman jetty garden is the most happening place for
                                tourists as
                                well as
                                local
                                citizens to get together...</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-xs-12 col-12">
                    <div class="card p-card" [routerLink]="['/projects/sports-complex']" style="cursor: pointer;">
                        <img src="assets/ground.png" class="card-img-top" alt="ground-image">
                        <div class="card-body">
                            <p class="project-title">Bandodkar Sports complex</p>
                            <p class="card-text fw-normal">This market situated at center of the City is a historic
                                building
                                constructed at
                                the
                                time of Portuguese era around 1879.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center mb-4">
                <button class="p-2   mt-4 mb-5 button-common" [routerLink]="['/projects']" target="_blank">Load
                    More <img class="float-end" src="assets/down-arrow.png" alt="icon"></button>
            </div>
        </div>
    </div>

    <!-- goverment Schemes -->

    <div class="col-12">
        <div class="container">
            <div class=" fs-1 fw-bold  mt-5 text-uppercase d-flex">GOVERNMENT SCHEMES</div>
            <div class="container">
                <div class="row row-cols-xs-1 row-cols-md-5  d-flex justify-content-center mt-2  ">
                    <div class="col-xl-2 col-md-4 col-xs-12 col-12 mt-2">
                        <div class="box1">
                            <div class="imgBx">
                                <img class="image" src="assets/atal-misson1.png" alt="schemes image">
                                <div class="content text-uppercase">Atal Mission for Rejuvenation &
                                    Urban Transformation (AMRUT)</div>
                            </div>
                            <div class="content1">
                                <h6>Atal Mission for Rejuvenation &
                                    Urban Transformation (AMRUT)</h6>
                                <p class="p2">Providing basic services (e.g. water supply, sewerage, urban transport) to
                                    households and build
                                    amenities
                                    in cities which will improve the quality of life for all people.</p>
                                <img class="mb-0" routerLink="/schemes/atal-mission" style="cursor: pointer;"
                                    src="assets/arrow_circle_right.png" alt="arrow image">
                            </div>
                        </div>
                    </div>
                    <div class=" col-xl-2 col-md-4 col-xs-12 col-12  mt-2">
                        <div class="box1">
                            <div class="imgBx">
                                <img class="image" src="assets/pradhanmantri.png" alt="schemes image">
                                <div class="content text-uppercase">Pradhan Mantri Awas Yojana (PMAY)</div>
                            </div>
                            <!-- <div class="lower-content">Pradhan Mantri Awas Yojana (PMAY)</div> -->
                            <div class="content1">
                                <div>
                                    <h6>PRADHANMANTRI AWAS YOJANA</h6>
                                    <p class="p2">"Housing for All" Mission for urban area has been implemented with
                                        effect from 17.06.2015 to provide central assistance
                                        to implementing agencies. The Credit Linked Subsidy Scheme is being offered
                                        under this mission.</p>
                                    <img routerLink="/schemes/pmay" style="cursor: pointer;"
                                        src="assets/arrow_circle_right.png" alt="arrow image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-xl-2 col-md-4 col-xs-12 col-12 mt-2 ">
                        <div class="box1">
                            <div class="imgBx">
                                <img class="image" src="assets/swatch-bharat.png" alt="schemes image">
                                <div class="content text-uppercase">Swachh Bharat Mission</div>
                            </div>
                            <!-- <div class="lower-content">Pradhan Mantri Awas Yojana (PMAY)</div> -->
                            <div class="content1">
                                <div>
                                    <h6>SWACHH BHARAT MISSION</h6>
                                    <p class="p2">To accelerate the efforts to achieve universal sanitation coverage and
                                        to put focus on sanitation, the Prime Minister of
                                        India launched the Swachh Bharat Mission on 2nd October, 2014.</p>
                                    <img routerLink="/schemes/swach-bharat" style="cursor: pointer;"
                                        src="assets/arrow_circle_right.png" alt="arrow image">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-xl-2 col-md-4 col-xs-12 col-12  mt-2">
                        <div class="box1">
                            <div class="imgBx">
                                <img class="image" src="assets/social-assistence.png" alt="schemes image">
                                <div class="content text-uppercase">National Social Assistance Programme (NSAP)</div>
                            </div>
                            <!-- <div class="lower-content">Pradhan Mantri Awas Yojana (PMAY)</div> -->
                            <div class="content1">
                                <div>
                                    <h6>NATIONAL SOCIAL ASSISTANCE PROGRAMME(NSAP)</h6>
                                    <p class="p2">The National Social Assistance Programme(NSAP) which came into effect
                                        from 15th August,1995 represents a significant
                                        step towards the fulfillment of the Directive Principles in Article 41 of the
                                        Constitution.</p>
                                    <img routerLink="/schemes/nsap" style="cursor: pointer;"
                                        src="assets/arrow_circle_right.png" alt="arrow image">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-xl-2 col-md-4 col-xs-12  col-12 mt-2">
                        <div class="box1">
                            <div class="imgBx">
                                <img class="image" src="assets/mplad.png" alt="schemes image">
                                <div class="content text-uppercase">MPLAD</div>
                            </div>
                            <!-- <div class="lower-content">Pradhan Mantri Awas Yojana (PMAY)</div> -->
                            <div class="content1">
                                <div>
                                    <h6>MPLAD</h6>
                                    <p class="p2">The Rajya Sabha Members of Parliament can recommend works in one or
                                        more districts in the State from where he/she has
                                        been elected.</p>
                                    <img routerLink="/schemes/mplad" style="cursor: pointer;"
                                        src="assets/arrow_circle_right.png" alt="arrow image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-xs-12 pb-2 mt-4 mb-4 ">
                <marquee behavior="scroll" direction="left" scrollamount="8" onmouseover="this.stop()"
                    onmouseout="this.start()">
                    <span class="ps-5 pt-5"><a href="https://www.mygov.in/mygov-survey/swachh-survekshan-2023/"
                            target="_blank"><img src="assets/Swach-Bharat.png" alt="image"></a></span>

                    <span><a href="https://www.mygov.in/" target="_blank"><img src="assets/gov.png"
                                alt="image"></a></span>
                    <span class="ps-5 pt-5"><a
                            href="https://www.incredibleindia.org/content/incredible-india-v2/en.html"
                            target="_blank"><img src="assets/Incredible-India.png" alt="image"></a></span>

                    <span class="ps-5 pt-5"><a href="https://www.digitalindia.gov.in/" target="_blank"><img
                                src="assets/digital.png" alt="image"></a></span>

                    <span class="ps-5 pt-5"><a href="https://email.gov.in/" target="_blank"><img src="assets/gov.in.png"
                                alt="image"></a></span>

                    <span class="ps-5 pt-5"><a href="https://ddd.gov.in/" target="_blank"><img
                                src="assets/dadranagar.png" alt="image"> </a></span>
                </marquee>
            </div>
        </div>
    </div>

</div>