<div class="pb-5">
    <div class="container">
        <div class="header mt-5">
            <h4 class="--font-size-20 fw-bold --text-dark-gray">Contact us</h4>
            <hr />
            <div class="row">
                <div class="col-xl-6 col-lg-12 col-xs-12 col-12">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3739.4400126494056!2d72.83163467602314!3d20.40596630887616!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be0d09a1937d901%3A0x76c835ab18ff7b9a!2sDaman%20Municipal%20Council!5e0!3m2!1sen!2sin!4v1704179178301!5m2!1sen!2sin"
                        height="450" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>

                <div class="col-xl-6 col-lg-12 col-xs-12 col-12">
                    <h5 class="fs-4 fw-bold text-center mt-2">Daman Municipal Council</h5>
                    <p class="mt-5">
                        <mat-icon> location_on</mat-icon><b> Address : </b>
                        <a href="https://www.google.com/maps/place/Daman+Municipal+Council/@20.4059663,72.8316347,17z/data=!3m2!4b1!5s0x3be0d07d075886cf:0x2f0da1c296fc6686!4m6!3m5!1s0x3be0d09a1937d901:0x76c835ab18ff7b9a!8m2!3d20.4059613!4d72.8342096!16s%2Fg%2F1pyqkylwl?entry=ttu"
                            target="_blank">Fort Area Moti Daman, Daman (U.T.) - 396220</a>
                    </p>
                    <p>
                        <mat-icon> call</mat-icon><b> Telephone : </b><a href="tel: +91 7016598012">+91 7016598012</a>
                    </p>
                    <p><mat-icon> print</mat-icon><b> Telefax : </b> <a href="#">02602231707</a></p>
                    <p>
                        <mat-icon> email</mat-icon><b> E-mail : </b><a
                            href="mailto: codmc-daman-dd@nic.in">codmc-daman-dd&#64;nic.in</a> |
                        <a href="mailto: codmc.daman@gmail.com">codmc.daman&#64;gmail.com</a>
                    </p>
                    <a href="https://www.facebook.com/DMCDAMAN1613/" target="_blank"> <img
                            src="../../../assets/fb-logo.png" alt="Facebook" width="25" height="25" /></a>
                    <a href="https://twitter.com/DMCDAMAN1613" target="_blank"> <img src="../../../assets/x-logo.png"
                            alt="Twitter" width="25" height="25" class="ms-3" /></a>
                </div>
            </div>
        </div>
    </div>
</div>