<div class="pb-5">
    <div class="container">
        <div class="header">
            <h4 class="--font-size-20 fw-bold --text-dark-gray mt-5">Schemes Implemented</h4>
            <hr />
            <div class="content">
                <p class="lead">National Social Assistance Programme (NSAP)</p>
                <p>
                    The National Social Assistance Programme(NSAP) which came into effect from 15th August,1995
                    represents a significant step towards the fulfillment of the Directive Principles in Article 41 of
                    the Constitution. The programme introduced a National Policy for Social Assistance for the poor and
                    aims at ensuring minimum national standard for social assistance in addition to the
                    benefits that states are currently providing or might provide in future. NSAP at present comprises
                    of Indira Gandhi National Old Age Pension Scheme (IGNOAPS), Indira Gandhi National Widow
                    Pension Scheme (IGNWPS), Indira Gandhi National Disability Pension Scheme (IGNDPS), National Family
                    Benefit Scheme (NFBS) and Annapurna.
                </p>
            </div>
        </div>
        <div class="header mt-5">
            <h4 class="--font-size-20 fw-bold --text-dark-gray">Pensioner List</h4>
            <hr />
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-xs-12 col-12 mb-3">
                <div class="card">
                    <div class="card-header text-center">
                        <h5 class="text-capitalize">Widow Pensioner List</h5>
                    </div>
                    <div class="card-body text-center">
                        <img src="assets/icons/scheme.png" class="img-fluid"  alt="icon" width="100" />
                        <div>
                          <a href="assets/Pdf/Widow.pdf" class="btn btn-primary btn-block mt-3" target="_blank">View and
                              Download</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-xs-12 col-12 mb-3">
                <div class="card">
                    <div class="card-header text-center">
                        <h5 class="text-capitalize">Old Age Pensioner List</h5>
                    </div>
                    <div class="card-body text-center">
                        <img src="assets/icons/scheme.png" class="img-fluid"  alt="icon" width="100" />
                        <div>
                          <a href="assets/Pdf/Oldage.pdf" class="btn btn-primary btn-block mt-3" target="_blank">View and
                              Download</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-xs-12 col-12 mb-3">
                <div class="card">
                    <div class="card-header text-center">
                        <h5 class="text-capitalize">Disable Pensioner List</h5>
                    </div>
                    <div class="card-body text-center">
                        <img src="assets/icons/scheme.png" class="img-fluid"  alt="icon" width="100" />
                        <div>
                        <a href="assets/Pdf/Disable.pdf" class="btn btn-primary btn-block mt-3" target="_blank">View and
                            Download</a>
                            </div>
                    </div>
                </div>
            </div>

            <!-- <div class="row mt-4 mb-4 d-none">
        <div class="col-md-12 p-4">
          <h4 class="text-secondary">Sewage Network of Daman</h4>
          <hr />
        </div>

        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-header text-center">
              <h5 class="text-capitalize">SEWAGE NETWORK LAYOUT FOR NANI-DAMAN-Model</h5>
            </div>
            <div class="card-body text-center">
              <img src="assets/icons/scheme.png" class="img-fluid"  alt="icon" width="100" />

              <a href="docs/pdf/04_SEWAGE NETWORK LAYOUT FOR NANI-DAMAN-Model.pdf" class="btn btn-primary btn-block mt-3" target="_blank">View and Download</a>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-header text-center">
              <h5 class="text-capitalize">Sewage Network Layout for Moti Daman</h5>
            </div>
            <div class="card-body text-center">
              <img src="assets/icons/birth-death.png" class="img-fluid"  alt="icon" width="100" />

              <a href="docs/pdf/Sewage Network Layout for Moti Daman.pdf" class="btn btn-primary btn-block mt-3" target="_blank">View and Download</a>
            </div>
          </div>
        </div>
      </div> -->
        </div>
    </div>
</div>