<div class="pb-5">
    <div class="container">
        <div class="header">
            <h4 class="--font-size-20 fw-bold --text-dark-gray mt-5">Citizen Charters</h4>
            <hr />
            <div class="row">
                <div class="col-lg-4 col-md-6 col-xs-12 col-12 mb-3">
                    <div class="card">
                        <div class="card-header text-center">
                            <h5>Citizen Charters</h5>
                        </div>
                        <div class="card-body text-center">
                            <img src="/assets/icons/citizen-charters.png" class="img-fluid" width="100" alt="charters" />
                            <a href="assets/Pdf/Citizen charter.pdf"
                                class="btn btn-primary btn-block mt-3" target="_blank">View and Download Citizen
                                Charters</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>