<div class="container">
    <div class="row row-cols-1 row-cols-md-4 g-3 mt-5">
        <div class="col-xl-3 col-lg-4 col-md-6 col-xs-12 mb-4">
            <div class="card h-100  " [routerLink]="['restoration']">
                <img src="assets/DMC_AboutUs (1).png" class="card-img-top img-fluid" alt="image">
                <div class="card-body">
                    <p class="card-title text-uppercase fs-5">Restoration for Municipal Market</p>
                    <p class="card-text">This market situated at center of the City is a historic building
                        constructed at the time
                        of Portuguese era around 1879.
                        The said market is very famous market since from its build till now and is the Heart of
                        Daman Municipal
                        Council.</p>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 col-xs-12 mb-4">
            <div class="card h-100  " [routerLink]="['parking']">
                <img src="assets/multilevel-parking (1).png" class="card-img-top img-fluid " alt="image">
                <div class="card-body">
                    <p class="card-title text-uppercase fs-5">Multi Level Parking Building</p>
                    <p class="card-text">Daman is a tourist place. Most of the tourist from Vapi, Valsad, Silvassa,
                        Surat, and Mumbai and nearby area visits
                        Daman regularly.</p>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 col-xs-12 mb-4">
            <div class="card h-100  " [routerLink]="['development']">
                <img src="assets/dhobi_talav (1).jpg" class="card-img-top img-fluid" alt="image">
                <div class="card-body">
                    <p class="card-title text-uppercase fs-5">Development and beautification of Dhobi Talav at Nani
                        Daman</p>
                    <p class="card-text">This Talav is situated at ward no 14 at S.No 428 having approximate area of
                        9500 q.mt. In the heart of City The said
                        Talav is not developed / maintained properly till date. The public are also demanding for
                        development of said Talav.</p>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 col-xs-12 mb-4">
            <div class="card h-100" [routerLink]="['construction']">
                <img src="assets/nani-daman-fishmarket (1).png" class="card-img-top img-fluid" alt="image">
                <div class="card-body">
                    <p class="card-title text-uppercase fs-5">Const. of Vegetable Market, Fish Market..</p>
                    <p class="card-text">The existing shopping complex and fish market building was constructed 40
                        years ago. The the fish market building was
                        constructed in old style facilitate with A.C. cement sheet shed, partition wall, sitting
                        arrangement and IPS flooring. </p>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 col-xs-12 mb-4">
            <div class="card h-100 " [routerLink]="['beautification']">
                <img src="assets/Beautification (1).png" class="card-img-top img-fluid" alt="image">
                <div class="card-body">
                    <p class="card-title text-uppercase fs-5">Beautification of Nani Daman Jetty Garden</p>
                    <p class="card-text">This market situated at center of the City is a historic building
                        constructed at
                        the
                        time of Portuguese era around 1879.</p>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 col-xs-12 mb-4">
            <div class="card h-100  " [routerLink]="['underground']">
                <img src="assets/Underground-Sewerage (1).png" class="card-img-top img-fluid" alt="image">
                <div class="card-body">
                    <p class="card-title text-uppercase fs-5">Daman Underground Sewerage Project</p>
                    <p class="card-text">Daman Municipal Council has provided a facility to the citizen of Daman by
                        coming up with this major project of Sewerage
                        networking and Sewerage.</p>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 col-xs-12 mb-4">
            <div class="card h-100  " [routerLink]="['sports-complex']">
                <img src="assets/Sport_Complex (1).png" class="card-img-top img-fluid" alt="image">
                <div class="card-body">
                    <p class="card-title text-uppercase fs-5">Bandodkar Sports complex</p>
                    <p class="card-text">There is an existing Cricket ground named Bandodkar Stadium, at Nanidaman.
                        The Ground is not yet developed only murrum
                        filling and leveling work done that also by maintaining proper line and level, without
                        drainage system.</p>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 col-xs-12 mb-4">
            <div class="card h-100  " [routerLink]="['pmjay']">
                <img src="assets/PMAY (1).jpg" class="card-img-top img-fluid" alt="image">
                <div class="card-body">
                    <p class="card-title text-uppercase fs-5">Pradhan Mantri Awas Yojana</p>
                    <p class="card-text">"Housing for All" Mission for urban area has been implemented with effect
                        from 17.06.2015 to provide central assistance
                        to implementing agencies. </p>
                </div>
            </div>
        </div>
    </div>
</div>