<div class="pb-5">
    <div class="container">
        <h4 class="--font-size-20 fw-bold --text-dark-gray mt-5">Construction of Multi Level Parking Building, Near Municipal
            Market at Nani Daman.</h4>
        <hr />
        <div class="content row">
            <div class="col-12">
                <p>
                    This Talav is situated at ward no 14 at S.No 428 having approximate area of 9500 q.mt. in the heart
                    of City. The said Talav is not developed / maintained properly till date. The public are
                    also demanding for development of said Talav. Hence the Administration decided to develop the said
                    Talav with all amenities and infrastructure facilities with the latest facility. The
                    existing wall wil be strengthened by protection wall of M25 grade concrete. The inner catchment area
                    of waterbody is in uneven shape and shallow. The catchment area will be excavated and the
                    uneven surface will be dresses and make it in desired shape and slope. The inner catchment body will
                    be done by pitching of rubble masonry wall with R.C.C. support structures there will be
                    provision of Walk way and jogging track on the boundary of the pond. The pond will be secures by
                    S.S. railing. There are few gazebo also provided for sitting comfortably. Also few Benches
                    will be provided to sit and visualize the beauty of pond. There will be a small and a big
                    Amphitheater kind of sitting arrangement will be provided for citizens to get to gether and have
                    some relaxation. There will be separate ladies and gents toilet with urinals will be provided. One
                    space on North West side will be provided for senior citizens with sitting arrangements.
                    There will be water jet and fountain in the pond. The remaining are of the pond will be provided
                    with provided with beautiful plants and lawns. There is also provision of electric room to
                    maintain the lighting arrangements .The entire project will be a charm of the Daman tourism. The
                    development of this Talav will also add as one of the spot for tourist visiting Daman
                    District. This project is awarded to M/s. R. K. Sojitra, Vapi. The project cost is Rs. 2.82 Crore.
                    The work was completed and inaugurated on 19.12.2019 by the hand of Hon’ble Administrator
                    of DD & DNH.
                </p>
            </div>

            <div class="col-lg-6 col-md-6 col-xs-12 col-12">
                <img src="assets/dhobi_talav-1.jpg" class="img-fluid img-thumbnail"
                    alt="Municipal Market at Char Rasta" />
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-12">
                <img src="assets/dhobi_talav-2.jpg" class="img-fluid img-thumbnail"
                    alt="Municipal Market at Char Rasta" />
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-12">
                <img src="assets/dhobi_talav-3.jpg" class="img-fluid img-thumbnail"
                    alt="Municipal Market at Char Rasta" />
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-12">
                <img src="assets/dhobi_talav-5.jpg" class="img-fluid img-thumbnail"
                    alt="Municipal Market at Char Rasta" />
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-12">
                <img src="assets/dhobi_talav.jpg" class="img-fluid img-thumbnail"
                    alt="Municipal Market at Char Rasta" />
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-12">
                <img src="assets/dhobi_talav-4.jpg" class="img-fluid img-thumbnail"
                    alt="Municipal Market at Char Rasta" />
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-12">
                <img src="assets/dhobi_talav-7.jpg" class="img-fluid img-thumbnail"
                    alt="Municipal Market at Char Rasta" />
            </div>
        </div>
    </div>
</div>