<div class="pb-5">
    <div class="container">
        <div class="header">
            <h4 class="--font-size-20 fw-bold --text-dark-gray mt-5">Overview DMC</h4>
            <hr />
            <div class="content">
                <p>
                    In order to bring transparency and smooth collaboration within various departments of Daman
                    Municipal council and for the benefit of the citizens Daman Municipal Council has embraced
                    E-Governance and facilitating most essential citizen services through this Portal. The portal offers
                    information about various aspects of the city, its governance and facilitates citizen
                    services such as Water tax, Property tax, Registration of complaints, Grievance etc. Initially few
                    services will be offered on this portal, other services will be offered subsequently in a
                    phased manner. On this portal, Citizens can file online complaints and subsequently track the status
                    of their complaints, Grievance. Citizen can apply online for new water connection and
                    Permissions for building and for assessment for the property. It is also possible to pay property
                    and water taxes through electronic clearance system.
                </p>
            </div>
        </div>
    </div>
</div>