<div class="col-12 mt-5 mb-5">
        <div class="container">
                <div class="row   g-2">
                    <div class="col-xl-3 col-md-6 col-xs-12      place-card">
                        <div class="card1 border">
                            <img src="../assets/devka.png" class="card-img-top" alt="image">
                            <div class="card-body p-2 place-content">
                                <h5 class="card-title text-uppercase">Devka
                                    beach <span><a
                                            href="https://ddd.gov.in/places-centres/devka-beach-nani-daman/#:~:text=Devka%20beach%20is%20a%20sight,and%20play%20area%20for%20kids."
                                            target="_blank"><img class="float-end " src="assets/c-arrow.png" /></a></span></h5>
                                <p class="card-text fw-normal">Devka beach is a sight of pure
                                    beauty. Like so many other beaches of Daman, this too is a
                                    massive, picturesque and quite
                                    unspoilt.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-xs-12     place-card">
                        <div class="card1 border">
                            <img src="assets/place2.png" class="card-img-top" alt="image">
                            <div class="card-body p-2 place-content">
                                <h5 class="card-title text-uppercase">St Jerome Fort<span><a
                                            href="https://ddd.gov.in/places-centres/fort-of-st-jerome-daman/" target="_blank"><img
                                                class="float-end " src="assets/c-arrow.png" /></a></span></h5>
                                <p class="card-text fw-normal">This huge fort is also known as the
                                    Nani Daman Fort. The most conspicuous part of this place is its
                                    magnanimous gateway
                                    that faces the river.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-xs-12     place-card">
                        <div class="card1 border ">
                            <img src="assets/garden.jpg" class="card-img-top" alt="image">
                            <div class="card-body p-2 place-content">
                                <h5 class="card-title text-uppercase">Vanganga Lake Garden<span><a
                                            href="https://ddd.gov.in/places-centres/vanganga-lake-garden/" target="_blank"><img
                                                class="float-end " src="assets/c-arrow.png" /></a></span></h5>
                                <p class="card-text fw-normal">With an area of about 7.58 hectares,
                                    Vanganga Lake Garden stretches like a mini forest, containing
                                    within its vastness a
                                    beautiful lake</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-xs-12     place-card">
                        <div class="card1 border">
                            <img src="assets/beach.jpg" class="card-img-top " style="height: 299px" alt="image">
                            <div class="card-body p-2 place-content">
                                <h5 class="card-title text-uppercase">Lighthouse Beach<span><a
                                            href="https://ddd.gov.in/places-centres/lighthouse-beach-moti-daman/"
                                            target="_blank"><img class="float-end " src="assets/c-arrow.png" /></a></span></h5>
                                <p class="card-text fw-normal">Head to the Moti Daman Jetty to reach
                                    the Lighthouse via the newly constructed beachfront road, “Ram
                                    Setu”, which
                                    extends from Moti Daman Jetty to Jampore Beach.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6 col-xs-12     place-card mt-4">
                        <div class="card1 border">
                            <img src="assets/ghogha-beach.jpeg" class="card-img-top " style="height: 299px" alt="image">
                            <div class="card-body p-2 place-content">
                                <h5 class="card-title text-uppercase">Ghogha Beach<span><a
                                            href="https://ddd.gov.in/places-centres/ghogla-beach/" target="_blank"><img
                                                class="float-end " src="assets/c-arrow.png" /></a></span></h5>
                                <p class="card-text fw-normal">Head to the Moti Daman Jetty to reach
                                    the Lighthouse via the newly constructed beachfront road, “Ram
                                    Setu”, which
                                    extends from Moti Daman Jetty to Jampore Beach.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6 col-xs-12     place-card mt-4">
                        <div class="card1 border">
                            <img src="assets/naida-caves.jpg" class="card-img-top " style="height: 299px" alt="image">
                            <div class="card-body p-2 place-content">
                                <h5 class="card-title text-uppercase">naida caves Beach<span><a
                                            href="https://ddd.gov.in/places-centres/naida-caves/" target="_blank"><img
                                                class="float-end " src="assets/c-arrow.png" /></a></span></h5>
                                <p class="card-text fw-normal">Head to the Moti Daman Jetty to reach
                                    the Lighthouse via the newly constructed beachfront road, “Ram
                                    Setu”, which
                                    extends from Moti Daman Jetty to Jampore Beach.</p>
                            </div>
                        </div>
                    </div>
                </div>
           
        </div>
   
</div>