<!-- Middle Section -->
<div class="col-12 mt-5">
    <div class="container">
        <div class="row">
            <p>About Daman Municipal Council</p>
            <h1 class="text-uppercase fw-bold">
                A Historical and <br />
                Administrative Overview
            </h1>
        </div>
        <div class="row">
            <p class="text-success fw-bold text-common">
                The Daman Municipal Council, established during Portuguese rule in the
                16th century, is one of the oldest municipalities in Asia. Governed by
                the Daman and Diu Municipalities (Amended) Regulation, 1994, this
                statutory body oversees the administration of Daman, the capital of the
                Union Territory of Daman and Diu.
            </p>
            <br />
            <!-- <img class="vector-741" src="assets/v7.png" /> -->
            <br />
            <p class="text-common text-common">
                The Daman Municipal Council, one of Asia&#039;s oldest municipalities,
                has its roots in the Portuguese era of the 16th century. Established as
                &quot;CAMARA DE DAMAO,&quot; it functioned under &quot;Senado Publico
                Nobre e Leal Proviso De 1581&quot; until 1969. Post-liberation, the
                Council was restructured under the 1968 Municipalities Act, with the
                first elections held in 1970. The Council, led by elected President and
                Vice President, focuses on obligatory functions like road and public
                facility maintenance, and discretionary functions like park and library
                development. Key officials from government departments support the
                Council&#039;s operations, ensuring the well-being of Daman&#039;s
                residents.
            </p>
            <br />
            <p>The main source of Income/revenue for The Council is as under</p>
        </div>
        <br />
        <div class="row">
            <div class="container">
                <div class="card-group  w-100">
                    <div class="card card-alt1 w-100">
                        <img class="mx-auto mt-auto mb-auto" src="assets/noun-property-value-4527626 1 (2).png" alt="property"/>
                        <p class="p-3 text-center fw-normal">House Tax</p>
                    </div>
                    <div class="card card-alt2 w-100">
                        <img class="mx-auto mt-auto mb-auto" src="assets/key-hand.png" alt="key" />
                        <p class="p-3 text-center fw-normal">Rent of municipal<br>Properties</p>
                    </div>
                    <div class="card card-alt1 w-100">
                        <img class="mx-auto mt-auto mb-auto" src="assets/Group1.png" />
                        <p class="p-3 text-center fw-normal">Commercial <br>licence fees</p>
                    </div>
                    <div class="card card-alt2 w-100">
                        <img class="mx-auto mt-auto mb-auto" src="assets/noun-construction.png" alt="Construction" />
                        <p class="p-3 text-center fw-normal">Construction <br>licence fees</p>
                    </div>
                    <div class="card card-alt1 w-100">
                        <img class="mx-auto mt-auto mb-auto" src="assets/noun-market.png" alt="market"/>
                        <p class="p-3 text-center fw-normal">Stall age fees from <br>municipal market</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- second Section -->
<div class="col-12">
    <div class="back-image">
        <div class="container mt-5">
            <div class="row">
                <h1 class="heading text-white mt-5">HISTORY OF COUNCIL</h1>
                <div class="row text-white position mt-3">
                    <div class="text-common">
                        <p class="fonts ">
                            It was built in the 16th century during the rule of the
                            Portuguese, D.C.-Da-Braganasa, by the order of Portuguese hero who
                            won the suppression, and it was granted the status of municipality
                            of the city of Evora in 1581 in Portugal. This Evora municipality
                            is now a memorial included in UNESCO World Heritage in Portugal.
                        </p>
                        <p class="fonts">
                            <br />
                            It was fully operational in 1585. This municipality is the oldest
                            municipal council in Asia. At the time of its construction, the
                            engineering and extension of the Portuguese was on the brightness
                            and there was a very fast work in the thick Daman fort. A red
                            board is found on the Main Gate of this, with the name of the
                            Daman municipal council, in the Portuguese language, "Sinado
                            Publico Noble e Lil Proviscios de 1581" is found which is
                            translated into Hindi language as follows :
                        </p>
                    </div>
                    <br />
                    <p class="fw-bold">
                        Daman Municipal Council, A public Senate is loyal to the provision
                        of 1581
                    </p>
                    <br />
                    <p class="fonts">
                        It was built in the 16th century during the rule of the Portuguese,
                        D.C.-Da-Braganasa, by the order of Portuguese hero who won the
                        suppression, and it was granted the status of municipality of the
                        city of Evora in 1581 in Portugal. This Evora municipality is now a
                        memorial included in UNESCO World Heritage in Portugal.
                    </p>
                    <p class="fonts">
                        <br />
                        It was fully operational in 1585. This municipality is the oldest
                        municipal council in Asia. At the time of its construction, the
                        engineering and extension of the Portuguese was on the brightness
                        and there was a very fast work in the thick Daman fort. A red board
                        is found on the Main Gate of this, with the name of the Daman
                        municipal council, in the Portuguese language, "Sinado Publico Noble
                        e Lil Proviscios de 1581" is found which is translated into Hindi
                        language as follows :
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-12 achive-bg">
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-lg-6 col-md-12">
                <img class="trophy mt-5 mb-5 img-fluid" src="assets/trophy.png" alt="trophy" />
            </div>
            <div class="col-lg-6 col-md-12">
                <h1 class="text-uppercase fw-bold">Achievements</h1>
                <br />
                <p class="text-success fw-bold">
                    DMC resolves to intensify its efforts in providing better civic
                    services to the citizens and a multitude of visiting patrons from all
                    over the country and overseas.
                </p>
                <p>
                    Other objectives before DMC are to improve quality of life provide
                    social and community welfare amenities with public, private
                    participation- with special emphasis on promotion of art & culture,
                    environmental improvement, cleaning & greening campaigns.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="col-12">
    <div class="container">
        <!-- <div class="row"> -->
        <h1 class="mt-5">REGULATION & LAWS</h1>
        <p class="text-success">
            DMC resolves to intensify its efforts in providing better civic services
            to the citizens and a <br />
            multitude of visiting patrons from all over the country and overseas.
        </p>
        <div class="card-group  mb-5">
            <div class="card">
                <img class="h-50 w-50 mx-auto p-2 mt-3 img-fluid" src="assets/download.gif" alt="download"/>
                <!-- <img class="h-50 w-50 mx-auto p-2" src="assets/download1.gif" /> -->
                <p class="text-center">Regulation 1994 DMC</p>
                <a href="assets/Pdf/Regulation 1994 DMC.pdf" target="_blank">
                    <div class="content p-2">
                        <img src="assets/download-b.png" class="default-image" alt="Download" />
                        <img src="assets/download.png" class="hover-image" alt="Download Hover" />
                        DOWNLOAD
                    </div>

                    <!-- <div class="button" type="button">
                        <span class="button__text">Download</span>
                        <span class="button__icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35 35"
                                id="bdd05811-e15d-428c-bb53-8661459f9307" data-name="Layer 2" class="svg">
                                <path
                                    d="M17.5,22.131a1.249,1.249,0,0,1-1.25-1.25V2.187a1.25,1.25,0,0,1,2.5,0V20.881A1.25,1.25,0,0,1,17.5,22.131Z">
                                </path>
                                <path
                                    d="M17.5,22.693a3.189,3.189,0,0,1-2.262-.936L8.487,15.006a1.249,1.249,0,0,1,1.767-1.767l6.751,6.751a.7.7,0,0,0,.99,0l6.751-6.751a1.25,1.25,0,0,1,1.768,1.767l-6.752,6.751A3.191,3.191,0,0,1,17.5,22.693Z">
                                </path>
                                <path
                                    d="M31.436,34.063H3.564A3.318,3.318,0,0,1,.25,30.749V22.011a1.25,1.25,0,0,1,2.5,0v8.738a.815.815,0,0,0,.814.814H31.436a.815.815,0,0,0,.814-.814V22.011a1.25,1.25,0,1,1,2.5,0v8.738A3.318,3.318,0,0,1,31.436,34.063Z">
                                </path>
                            </svg></span>
                    </div> -->
                </a>
            </div>
            <div class="card">
                <img class="h-50 w-50 mx-auto p-2 mt-3" src="assets/download.gif" />
                <p class="text-center">Regulation 2018 DMC</p>
                <a href="assets/Pdf/Daman Municipality 2018.pdf" target="_blank">
                    <div class="content p-2">
                        <img src="assets/download-b.png" class="default-image" alt="Download" />
                        <img src="assets/download.png" class="hover-image" alt="Download Hover" />
                        DOWNLOAD
                    </div>
                </a>
            </div>
            <div class="card">
                <img class="h-50 w-50 mx-auto  p-2 mt-3" src="assets/download.gif" />
                <p class="text-center">Rules</p>
                <a href="assets/Pdf/Regulation 1994 DMC.pdf" target="_blank">
                    <div class="content p-2">
                        <img src="assets/download-b.png" class="default-image" alt="Download" />
                        <img src="assets/download.png" class="hover-image" alt="Download Hover" />
                        DOWNLOAD
                    </div>
                </a>
            </div>
            <div class="card">
                <img class="h-50 w-50 mx-auto p-2 mt-3" src="assets/download.gif" />
                <p class="text-center">Solid Waste Management Rules</p>
                <a href="assets/Pdf/solid waste management.pdf" target="_blank">
                    <div class="content p-2">
                        <img src="assets/download-b.png" class="default-image" alt="Download" />
                        <img src="assets/download.png" class="hover-image" alt="Download Hover" />
                        DOWNLOAD
                    </div>
                </a>
            </div>
            <div class="card">
                <img class="h-50 w-50 mx-auto  p-2 mt-3" src="assets/download.gif" />
                <p class="text-center">Building Bye Laws</p>
                <a href="assets/Pdf/building_bye-laws.pdf" target="_blank">
                    <div class="content p-2">
                        <img src="assets/download-b.png" class="default-image" alt="Download" />
                        <img src="assets/download.png" class="hover-image" alt="Download Hover" />
                        DOWNLOAD
                    </div>
                </a>
            </div>
        </div>
    </div>

    <!-- </div> -->
</div>