<div>
    <div class="container">
        <div class="header mt-5">
            <h4 class="--font-size-20 fw-bold --text-dark-gray">Schemes</h4>
            <hr />
        </div>
        <div class="accordion accordion-flush mb-4" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        1.National Social Assistance Programme (NSAP)
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        The National Social Assistance Programme(NSAP) which came into effect from 15th August,1995
                        represents a significant step towards the fulfillment of the Directive Principles in Article 41
                        of the Constitution. The programme introduced a National Policy for Social Assistance for the
                        poor
                        and aims at ensuring minimum national standard for social assistance in addition to the
                        benefits that states are currently providing or might provide in future. NSAP at present
                        comprises
                        of Indira Gandhi National Old Age Pension Scheme (IGNOAPS), Indira Gandhi National Widow
                        Pension Scheme (IGNWPS), Indira Gandhi National Disability Pension Scheme (IGNDPS), National
                        Family
                        Benefit Scheme (NFBS) and Annapurna.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        2. Atal misson for rejuvenation and urban transformation
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        Providing basic services (e.g. water supply, sewerage, urban transport) to households and build
                    amenities in cities which will improve the quality of life for all, especially the poor and
                    the disadvantaged is a national priority. An estimate of the funds required over a 20 year
                    period,
                    at 2009-10 prices, was made by the High Powered Expert Committee (HPEC) during 2011. The
                    Committee estimated that Rs. 39.2 lakh crore was required for creation of urban infrastructure,
                    including Rs. 17.3 lakh crore for urban roads and Rs. 8 lakh crore for services, such as
                    water supply, sewerage, solid waste management and storm water drains. Moreover, the requirement
                    for
                    Operation and Maintenance (O&amp;M) was separately estimated to be Rs. 19.9 lakh crore.</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    3. Pradhan Mantri Awas Yojana
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        "Housing for All" Mission for urban area has been implemented with effect from 17.06.2015 to
                        provide
                        central assistance to implementing agencies. The Credit Linked Subsidy Scheme is being
                        offered under this mission. For Middle Income Group (MIG), the interest subsidy will be provided
                        on
                        housing loans for acquisition/construction of houses (including repurchase). For
                        Economically Weaker Section (EWS)/Lower Income Group (LIG), the interest subsidy will be
                        provided on
                        housing loans for acquisition, construction of house. The Credit Linked subsidy would
                        also be available for loans availed for new construction and addition of rooms, kitchen, toilet
                        etc.
                        to existing dwellings as incremental housing. The interest subsidy benefit will be
                        upfront on the principal outstanding. The availability and amount of interest subsidy is subject
                        to
                        meeting income criteria as per various categories under the scheme.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                        4. Swachh Bharat Mission
                    </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        To accelerate the efforts to achieve universal sanitation coverage and to put focus on
                        sanitation,
                        the Prime Minister of India launched the Swachh Bharat Mission on 2nd October, 2014. The
                        Mission Coordinator for SBM is Secretary, Ministry of Drinking Water and Sanitation (MDWS) with
                        two
                        Sub-Missions, the Swachh Bharat Mission (Gramin) and the Swachh Bharat Mission (Urban).
                        Together, they aim to achieve Swachh Bharat by 2019, as a fitting tribute to Mahatma Gandhi on
                        his
                        150th Birth Anniversary.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>