<div class="pb-5">
    <div class="container">
        <div class="header">
            <h4 class="--font-size-20 fw-bold --text-dark-gray mt-5">Licence Rates and Shop Licence Form</h4>
            <hr />
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-xs-12 col-12 mb-3">
                    <div class="card">
                        <div class="card-header text-center">
                            <h5>Licence Rates</h5>
                        </div>
                        <div class="card-body text-center">
                            <img src="assets/icons/licence.png" class="img-fluid" width="100" alt="icon" />
                            <div>
                            <a href="assets/Pdf/LicenseRate.pdf" class="btn btn-primary btn-block mt-3"
                                target="_blank">View and Download</a>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-xs-12 col-12 mb-3">
                    <div class="card">
                        <div class="card-header text-center">
                            <h5>Licence Form</h5>
                        </div>
                        <div class="card-body text-center">
                            <img src="assets/icons/licence.png" class="img-fluid" width="100" alt="icon" />
                            <div>
                            <a href="assets/Pdf/New_Licence_Application_form.pdf" class="btn btn-primary btn-block mt-3"
                                target="_blank">View and Download</a>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-xs-12 col-12 mb-3">
                    <div class="card">
                        <div class="card-header text-center">
                            <h5>Advertisement Licence Application</h5>
                        </div>
                        <div class="card-body text-center">
                            <img src="assets/icons/licence.png" class="img-fluid" width="100" alt="icon" />
                            <div>
                            <a href="assets/Pdf/Advertisement   Application.pdf"
                                class="btn btn-primary btn-block mt-3" target="_blank">View and Download </a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>