<div class="pb-5">
    <div class="container">
        <h4 class="--font-size-20 fw-bold --text-dark-gray mt-5">Beautification of Nani Daman Jetty Garden, Daman</h4>
        <hr />
        <div class="content row">
            <div class="col-12">
                <p>
                    Daman is a tourist place. There are very few tourist gardens are available in Municipal area. The
                    Nanidaman jetty garden is the most happening place for tourists as well as local citizens to
                    get together and to enjoy the beauty of river and sea. The Present condition of the garden is not up
                    to the standard. Lots of requests and advise received by the tourists and citizens of
                    daman to beautify the garden with modern look asthetics and with latest facilities It is proposed to
                    beautify the garden with mix concept, Land scape and also with hard scaple. The garden is
                    designed as one entity with multiple functions to cater the needs that the existing garden fails to.
                    The species proposed under trees and shrubs have been selected that are native to the
                    region or that which would need less maintenance. Dedicated parking space has been provided along
                    the eastern edge of the site. Dedicated spaces for senior citizens, children’s play area,
                    recreations area with lawn and landscaped entities, reading room spaces for the public, rest rooms
                    and an information centre. Ample seating has been planned along the various zones to cater
                    the users. A promenade is proposed along the seafront which can be used as a public gathering space
                    with seating all along the edge. A pavilion designed in Galvanized Steel and Canadian Wood
                    has been proposed facing the sea on the southern edge. The pavilion can be accessible on the first
                    floor and can be used as a viewing gallery. The pavilion is a multifunctional space that
                    can be used for exhibitions, festivals and leisure. This project is awarded to M/s. Devarsh
                    Construction Co., Gandhinagar. The revised project cost is Rs. 4.54Crore . The work was completed
                    and inaugurated on 17.02.2020 by the hand of Hon’ble President of India.
                </p>
            </div>

            <div class="col-lg-6 col-md-6 col-xs-12 col-12">
                <
                
                
                src="assets/Beautification.png" class="img-fluid img-thumbnail"
                    alt="Beautification of Nani Daman Jetty Garden" />
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-12">
                <img src="assets/jetty-garden2.png" class="img-fluid img-thumbnail"
                    alt="Beautification of Nani Daman Jetty Garden" />
            </div>
        </div>
    </div>
</div>