<div class="pb-5">
    <div class="container">
        <h4 class="--font-size-20 fw-bold --text-dark-gray mt-5">National Social Assistance Programme (NSAP)</h4>
        <hr />
        <h5>National Social Assistance Programme (NSAP)</h5>
        <br>
        <p>The National Social Assistance Programme(NSAP) which came into effect from 15th August,1995 represents a
            significant
            step towards the fulfillment of the Directive Principles in Article 41 of the Constitution. The programme
            introduced a
            National Policy for Social Assistance for the poor and aims at ensuring minimum national standard for social
            assistance
            in addition to the benefits that states are currently providing or might provide in future. NSAP at present
            comprises of
            Indira Gandhi National Old Age Pension Scheme (IGNOAPS), Indira Gandhi National Widow Pension Scheme
            (IGNWPS), Indira
            Gandhi National Disability Pension Scheme (IGNDPS), National Family Benefit Scheme (NFBS) and Annapurna.</p>
        <br>
        <h4>Pensioner List</h4>
        <hr>
        <div class="row">
            <div class="col-xl-4 col-md-6 col-xs-12 col-12 mb-3">
                <div class="card">
                    <div class="card-header text-center">
                        <h5 class="text-capitalize">Widow Pensioner List</h5>
                    </div>
                    <div class="card-body text-center">
                        <img src="assets/icons/scheme.png" width="100" class="img-fluid" alt="Scheme image">
                        <div>
                            <a href="assets/Pdf/Widow.pdf" target="_blank" class="btn btn-primary btn-block mt-3">View
                                and Download</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-xs-12 col-12 mb-3">
                <div class="card">
                    <div class="card-header text-center">
                        <h5 class="text-capitalize">Old Age Pensioner List</h5>
                    </div>
                    <div class="card-body text-center">
                        <img src="assets/icons/scheme.png" width="100" class="img-fluid" alt="Scheme image">
                        <div>
                            <a href="assets/Pdf/Oldage.pdf" target="_blank" class="btn btn-primary btn-block mt-3">View
                                and Download</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-xs-12 col-12 mb-3">
                <div class="card">
                    <div class="card-header text-center">
                        <h5 class="text-capitalize">Disable Pensioner List</h5>
                    </div>
                    <div class="card-body text-center">
                        <img src="assets/icons/scheme.png" width="100" class="img-fluid" alt="Scheme image">
                        <div>
                            <a href="assets/Pdf/Disable.pdf" target="_blank" class="btn btn-primary btn-block mt-3">View
                                and Download</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>