<div>
    <div class="container">
        <header class="mt-5">
            <h4>Circular & Notifications</h4>
        </header>
        <hr>
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th>Circular & Notifications Name</th>
                    <!-- <th>Last Date For Submission</th>
                    <th>Approximate Value</th> -->
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>
                        <a class="text-decoration-none"
                            href="assets/Pdf/order Constitution of district vigilance committee.pdf" target="_blank"><i
                                class="fa fa-file-pdf-o text-danger text-decoration-none"></i> Order Constitution of
                            district vigilance committee</a>
                    </td>
                    <!-- <td>26-09-2022</td>
                    <td>9,02,30,754 Cr.</td> -->
                </tr>
                <tr>
                    <td>
                        <a class="text-decoration-none"
                            href="assets/Pdf/order Constitution of sub-division vigilance committee.pdf"
                            target="_blank"><i class="fa fa-file-pdf-o text-danger text-decoration-none"></i> Order
                            Constitution of sub-division vigilance committee
                        </a>
                    </td>
                    <!-- <td>26-08-2022</td>
                    <td>3,95,96,260 Cr.</td> -->
                </tr>
                <tr>
                    <td>
                        <a class="text-decoration-none"
                            href="assets/Pdf/order Constitution ofdistrict leval survey committee.pdf"
                            target="_blank"><i class="fa fa-file-pdf-o text-danger text-decoration-none"></i> Order
                            Constitution ofdistrict leval survey committee
                        </a>
                    </td>
                    <!-- <td>29-07-2022</td>
                    <td>2,85,39,967 Cr.</td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>